{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block style%}
    <link rel="stylesheet" href="{% static "css/admin_list.css" %}">
    <link rel="stylesheet" href="{% static "css/directives/context_menu.css" %}">
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static "js/directives/context_menu.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pages/admin_list.js" %}"></script>
    <script type="text/javascript">
        window.pageInit(
            {{data | safe}},
            {{groups | safe}}
        )
    </script>
{% endblock%}
{% block content %}
    {% verbatim %}
    <div class="span10" ng-controller="AdminListCtrl">
        <div class="row-fulid well">
            <div class="span12 top-menu" style="margin: 0 0 10px 0">
                  <div class="span2">
                      <a class="btn" href="" ng-click="addRow($event)">Добавить</a>
                  </div>
                  <div class="input-append span6">
                      <input class="input-xxlarge" 
                             id="appendedInputButtons" 
                             size="16" 
                             placeholder="Фамилия, Имя или телефон"
                             ng-model="search_filter"
                             type="text">
                      <button class="btn" type="button">Найти</button>
                      <!--button class="btn" type="button">Фильтры</button-->
                </div>
            </div>
        </div>
        <div class="span12 well" style="margin-left: 0;" ng-repeat="record in data" ng-show="record.display">
            <legend>
                <div class="person-info person-info-name">
                    {{record.student.last_name}} {{record.student.first_name}} {{record.student.phone}}
                </div>
                <div class="person-info person-info-menu">
                    <div>
                        <button class="btn" ng-click="moveModal.open(record)">Перевести</button>
                        <button class="btn btn-danger" ng-click="deleteStudent($index)">Удалить</button>
                    </div>
                </div>
            </legend>
            <div>
                <div class="span8">
                    <legend>
                        Коментарии
                    </legend>
                    <div class="comments-block well" style="">
                        <span ng-repeat="group in record.groups">
                            <p class="comment well" ng-repeat="comment in group.comments">
                            <span class="label label-info">{{comment.date}}</span> <span class="label">{{group.group.name}}</span><br>
                                <span class="comment-text">{{comment.text}}</span>
                            </p>
                        </span>
                        <span ng-repeat="comment in record.comments">
                            <p class="comment well" >
                            <span class="label label-info">{{comment.date}}</span><br>
                                <span class="comment-text">{{comment.text}}</span>
                            </p>
                        </span>

                    </div>
                    <div>
                        <form class="form-inline" style="text-align: right">
                          <input type="text" class="input-xxlarge span10" ng-model="comment_$index" placeholder="Введите коментарий">
                          <button type="submit" class="btn btn-primary" ng-click="saveComment(record, comment_$index, $index); comment_$index=null">Сохранить</button>
                        </form>
                    </div>
                </div>
                <div class="span4">
                    <legend>Группы</legend>
                    <table class="table table-bordered" style="background-color: #fff">
                        <tr ng-repeat="group in record.groups">
                            <td>{{group.group.name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
        <context-menu menu-items="contextMenu.items" event="contextMenu.event" ng-show="contextMenu.show"></context-menu>

        <div id="moveModal" class="modal" ng-show="moveModal.show">
          <div class="modal-header">
            <button type="button" class="close" ng-click="moveModal.close()" aria-hidden="true">&times;</button>
            <h3>{{moveModal.data.student.last_name}} {{moveModal.data.student.first_name}}</h3>
            <h5>{{moveModal.data.student.phone}}</h5>
          </div>
          <div class="modal-body">
              <label for="moveModal-group">
                  Группа
                  <select id="moveModal-group" ng-model="selectedGroup" name="">
                      <option value="">--не выбрано--</option>
                      <option ng-value="group" ng-repeat="group in groups">
                        {{group.dance_hall.station}} {{group.days}} {{group.time}} {{group.name}}
                      </option>
                  </select>
              </label>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" ng-click="moveModal.close()">Отмена</a>
            <a href="#" class="btn btn-primary" ng-click="moveModal.close(); moveModal.save(selectedGroup)">Сохранить</a>
          </div>
        </div>
    </div>
    {% endverbatim%}
{% endblock%}
