{% extends "new_base.html" %}

{% block head %}

    <script type="text/javascript">
        dynamicTeacherApp.controller("DayCallController", ["$scope", function($scope) {

            $scope.students = {{call_list | safe}};

            $scope.getReaction = function(student) {
                console.log(student);
            };

            $scope.callResultOptions = [
                {name: "-- позвонить --", value: 0, reaction: $scope.getReaction},
                {name: "придет ..", value: 1},
                {name: "не будет ходить", value: 2},
                {name: "лист ожидания", value: 3}
            ];

            for(var i=$scope.students.length-1; i>=0; i--) {
                $scope.students[i].callResult = $scope.callResultOptions[0]
            }
        }]);
    </script>

{% endblock %}

{% block body %}
    {% verbatim %}
    {{students}}
    <div class="container-fluid" ng-controller="DayCallController">
        <div class="row-fluid" ng-controller="DayCallController">
            <table class="table table-striped table-hover span12">
                <tr>
                    <th>Фамилия Имя</th>
                    <th>Телефон</th>
                    <th>Группа</th>
                    <th>Причина звонка</th>
                    <th></th>
                </tr> 
                <tr ng-repeat="rec in students">
                    <td>{{rec.student.last_name}} {{rec.student.first_name}}</td>
                    <td>{{rec.student.phone}}</td>
                    <td>{{rec.group.dance_hall.station}} {{rec.group.days}} {{rec.group.time}}<br>{{rec.group.name}}</td>
                    <td>{{rec.reason}}</td>
                    <td>
                        <select ng-options="res.name for res in callResultOptions" ng-model="rec.callResult" ng-change="student.callResult.reaction(student)"></select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}
