<!DOCTYPE html>
<html ng-app="DynamicTeacherApp">
    {% load staticfiles %}
    <head>
        <title>{% block title %}{% endblock %}</title>
            <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}"/>
        <link rel="stylesheet" href="{% static "css/main.css" %}"/>
        <link rel="stylesheet" href="{% static "css/datepicker.css" %}"/>
        <link rel="stylesheet" href="{% static "shortcard/short_card.css" %}"/>
        <link rel="stylesheet" href="{% static "alert/alert.css" %}"/>
        <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
        <script type="text/javascript" src="{% static "js/moment.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/js/bootstrap-datepicker.js" %}"></script>
        <script type="text/javascript" src="{% static "shortcard/short_card.js" %}"></script>
        <script type="text/javascript" src="{% static "alert/alert.js" %}"></script>
        <script type="text/javascript">
            var csrftoken = $.cookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            
            var app = angular.module('DynamicTeacherApp', []);
            
            app.controller("sideBarCtrl", ["$scope", function($scope) {
                menuData = {{menu | safe}};
                $scope.sidebar_menu = processSideBarHeader(menuData);
                $scope.current_group = parseInt('{{group.id}}');

                $scope.isActive = (function() {
                    var current_group = '{{group.id}}';

                    return function(elem) {
                        if (elem.hasOwnProperty('url') && elem.url != undefined && elem.url.match(/[0-9]+/, '') == current_group) {
                            return true
                        } else {
                            return false
                        }
                    }
                })();

                $scope.isHeader = function(elem) {
                    return elem.type == 'header';
                }

                $scope.calcClasses = function(elem) {
                    var classes = [];

                    if ($scope.isHeader(elem)) {
                        classes.push('nav-header');
                    }

                    if ($scope.isActive(elem)) {
                        classes.push('active');
                    }
                    
                    return classes;
                }
            
                function processSideBarHeader(menuData) {
                    var result = [];

                    for (var i=0, j=menuData.length; i<j; i++) {
                        var elem = menuData[i];
                        result.push({label: elem.label, type: 'header'});

                        for (var k=0, l=elem.urls.length; k<l; k++) {
                            var urlElem = elem.urls[k];
                            result.push({label: urlElem.label, url: urlElem.url, type: 'link'})
                        }
                    }

                    return result;
                }
            }]);
        </script>
        {% block head %}
            {% block style%}
            {% endblock %}
            {% block script %}
            {% endblock %}
        {% endblock %}
    </head>
    <body >
            {% block body %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </a>
                        <a href="#" class="brand">ТСК "Динамика". Электронный журнал</a>
                        {% if user.id %}
                            <div class="nav-collapse collapse">
                                <div class="pull-right dropdown header-right" style="position: relative">
                                    <a class="navbar-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" type="button">{{user.last_name}} {{user.first_name}}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="profile?uid=-100" id="userProfile" tabindex="-1">Профиль</a></li>
                                    <li><a href="logout" tabindex="-1">Выход</a></li>
                                </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
            {% if user.id != None %}            
                {% verbatim %}
                    <div class="row-fluid" ng-controller="sideBarCtrl">
                        <div class="span2 well">
                        <ul class="nav nav-list">
                            <li ng-class="calcClasses(menu_elem)" ng-repeat="menu_elem in sidebar_menu track by $index">
                                <span ng-if="isHeader(menu_elem)">{{menu_elem.label}}</span>
                                <a ng-if="!isHeader(menu_elem)"  href="{%endverbatim%}http://{{host}}/{%verbatim%}{{menu_elem.url}}">{{menu_elem.label}}</a>
                            </li>
                        </ul>
                    </div>
                {% endverbatim %}
            {%endif%}
                {% block content %}
                {% endblock %}
            </div>
        </div>
            {% endblock %}
    </body>
</html>
