<!DOCTYPE html>
<html ng-app="DynamicTeacherApp">
    {% load staticfiles %}
    <head>
        <title>ТСК "Динамика" - электронный журнал</title>
            <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}"/>
        <link rel="stylesheet" href="{% static "css/main.css" %}"/>
        <link rel="stylesheet" href="{% static "css/datepicker.css" %}"/>
        <link rel="stylesheet" href="{% static "shortcard/short_card.css" %}"/>
        <link rel="stylesheet" href="{% static "alert/alert.css" %}"/>
        <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
        <script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
        <script type="text/javascript" src="{% static "js/moment.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/js/bootstrap-datepicker.js" %}"></script>
        <script type="text/javascript" src="{% static "shortcard/short_card.js" %}"></script>
        <script type="text/javascript" src="{% static "alert/alert.js" %}"></script>
        <script type="text/javascript">
            var csrftoken = $.cookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            
            var app = angular.module('DynamicTeacherApp', []);

            app.filter('makePositive', function() {
                return function(num) { 
                    var _num = parseFloat(num);
                    return (isNaN(_num)) ? num : Math.abs(_num); 
                }
            });

            app.filter('slice', function() {
                return function(arr, start, end) {
                    return arr.slice(
                                start || 0, 
                                end || arr.length
                            );
                };
            });

            app.filter('last', function() {
                return function(arr) {
                    return _.last(arr);
                }
            });
            
            app.controller("sideBarCtrl", ["$scope", "$rootScope", "$sce", function($scope, $rootScope, $sce) {
                menuData = {{menu | safe}};
                $scope.sidebar_menu = processSideBarHeader(menuData);
                $scope.current_group = parseInt('{{group.id}}');

                $scope.isActive = (function() {
                    var current_group = '{{group.id}}';

                    return function(elem) {
                        if (elem.hasOwnProperty('url') && elem.url != undefined && elem.url.match(/[0-9]+/, '') == current_group) {
                            return true
                        } else {
                            return false
                        }
                    }
                })();

                $scope.isAnyPageOpened = (function() {
                    for(var i in $scope.sidebar_menu) {
                        if($scope.isActive($scope.sidebar_menu[i])) {
                            return true;
                        }
                    }

                    return false;
                })();

                $scope.isHeader = function(elem) {
                    return elem.type == 'header';
                }

                $scope.calcClasses = function(elem) {
                    var classes = [];

                    if ($scope.isHeader(elem)) {
                        classes.push('nav-header');
                    }

                    if ($scope.isActive(elem)) {
                        classes.push('active');
                    }
                    
                    return classes;
                }

                $scope.setSideBarStatus = function(val) {
                    $rootScope.toggleSideBar = val;
                }
                $scope.setSideBarStatus(true);

                $rootScope.$watch(function(obj) {
                    return obj.toggleSideBar;
                }, function(val) {
                    $scope.toggleSideBar_local = val;
                });
                
                var hidden = localStorage.getItem('hidden_menu'); 
                
                if(hidden == null) {
                    hidden = _.map($scope.sidebar_menu, function(elem, index) {
                        return (elem.hideable && elem.type == "header") ? index : null;
                    });
                } else {
                    hidden = _.map(hidden.split(','), function(elem) {
                        return parseInt(elem);
                    });
                }

                $scope.hidden = _.filter(hidden, function(elem) {
                    return elem != null;
                });
                $scope.hideMenuPart = function(index) {
                    $scope.hidden.push(index);
                    localStorage.setItem('hidden_menu', $scope.hidden.toString());
                    for(var i=index+1, j=$scope.sidebar_menu.length; i<j; i++) {
                        if ($scope.sidebar_menu[i].type == 'header') {
                            break;
                        }

                        $scope.sidebar_menu[i].show = false;
                    }
                };

                $scope.showMenuPart = function(index) {
                    $scope.hidden = _.without($scope.hidden, index);
                    localStorage.setItem('hidden_menu', $scope.hidden.toString());
                    for(var i=index+1, j=$scope.sidebar_menu.length; i<j; i++) {
                        if ($scope.sidebar_menu[i].type == 'header') {
                            break;
                        }

                        $scope.sidebar_menu[i].show = true;
                    }
                };

                $scope.toggleMenuPart = function(index) {
                    if(_.indexOf($scope.hidden, index) > -1) {
                        $scope.showMenuPart(index);
                    } else {
                        $scope.hideMenuPart(index);
                    }
                }

                $scope.checkIndex = function(index) {
                    return $scope.hidden.indexOf(index) >= 0;
                }
            
                function processSideBarHeader(menuData) {
                    var result = [];

                    for (var i=0, j=menuData.length; i<j; i++) {
                        var elem = menuData[i];
                        result.push({label: elem.label, type: 'header', hideable: elem.hideable, show: true});

                        for (var k=0, l=elem.urls.length; k<l; k++) {
                            var urlElem = elem.urls[k];
                            if (urlElem.hasOwnProperty('type') && urlElem.type=="urls") {
                                result = result.concat(processSideBarHeader([urlElem]));
                            } else {
                                var label;
                                
                                try {
                                    label = urlElem.name+"<br>"+urlElem.dance_hall.station+"<br>"+urlElem.days+" "+urlElem.time;
                                } catch(e) {
                                    label = urlElem.label;
                                }

                                result.push({
                                    label: $sce.trustAsHtml(label),
                                    url: urlElem.url, 
                                    type: 'link', 
                                    show: !elem.hideable
                                })
                            }
                        }
                    }

                    return result;
                }
                
                _.map($scope.sidebar_menu, function(elem, index) {
                    if(elem.type == 'header' && !$scope.checkIndex(index)) {
                        $scope.showMenuPart(index);
                    }
                });

            }]);
        </script>
        <style>
            .carret {
                border: 10px solid transparent;
                width: 0;
                height: 0;
                border-right: 15px solid #999999;
            }
            .carret-left {
                border: 10px solid transparent;
                width: 0;
                height: 0;
                border-left: 15px solid #999999;
            }
            .toggle-button {
                display: block; 
                float: right; 
                margin: -20px; 
                background-color: #e3e3e3; 
                padding: 10px 16px 10px 4px; 
                border-radius: 3px;
            }
            .toggle-button:hover {
                background-color: #999999; 
            }
            .toggle-button:hover .carret {
                border-right: 15px solid #e3e3e3;
            }
            .toggle-button:hover .carret-left {
                border-left: 15px solid #e3e3e3;
            }
            .sidebar-header {
                border-bottom: 1px solid;
            }
            .sidebar-header .carret {
                border: 6px solid transparent;
                border-right: 10px solid #999999;
                display: inline;
                float: right;
                margin-top: 3px;
            }
            .sidebar-header .carret2 {
                border: 6px solid transparent;
                border-top: 10px solid #999999;
                display: inline;
                float: right;
                margin-top: 5px;
            }

        </style>
        {% block head %}
            {% block style%}
            {% endblock %}
            {% block script %}
            {% endblock %}
        {% endblock %}
    </head>
    <body >
            {% block body %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </a>
                        <a href="#" class="brand">ТСК "Динамика". Электронный журнал</a>
                        {% if user.id %}
                            <div class="nav-collapse collapse">
                                <div class="pull-right dropdown header-right" style="position: relative">
                                    <a class="navbar-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" type="button">{{user.last_name}} {{user.first_name}}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://{{host}}/profile?uid=-100" id="userProfile" tabindex="-1">Профиль</a></li>
                                    <li><a href="http://{{host}}/logout" tabindex="-1">Выход</a></li>
                                </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
            {% if user.id != None %}            
                {% verbatim %}
            <div class="row-fluid" ng-controller="sideBarCtrl">
                <div ng-show="toggleSideBar_local" ng-class="{span2: toggleSideBar_local}" class="well">
                        <div>
                            <a class="toggle-button" 
                                style="" 
                                href="" 
                                ng-show="isAnyPageOpened"
                                ng-click="setSideBarStatus(false)">
                                    <div class="carret"></div>
                            </a>
                            
                        </div>
                        <ul class="nav nav-list" ng-show="toggleSideBar">
                            <li ng-class="calcClasses(menu_elem)" ng-repeat="menu_elem in sidebar_menu track by $index">
                                <!--
                                <span ng-if="isHeader(menu_elem)">{{menu_elem.label}}
                                    <a style="cursor: pointer" ng-show="menu_elem.hideable && !checkIndex($index)" ng-click="hideMenuPart($index)">скрыть</a>
                                    <a style="cursor: pointer" ng-show="menu_elem.hideable && checkIndex($index)" ng-click="showMenuPart($index)">показать</a>
                                </span>
                                -->
                                <a href="" class="sidebar-header" ng-if="isHeader(menu_elem)" ng-click="toggleMenuPart($index)">
                                    {{menu_elem.label}} 
                                    <div ng-show="menu_elem.hideable && checkIndex($index)" class="carret"></div>  
                                    <div ng-show="menu_elem.hideable && !checkIndex($index)" class="carret2"></div>  
                                </a>
                                <a ng-show="menu_elem.show" 
                                   style="color: #000"
                                   ng-if="!isHeader(menu_elem)"  
                                   href="{%endverbatim%}http://{{host}}/{%verbatim%}{{menu_elem.url}}"
                                   ng-bind-html="menu_elem.label">
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endverbatim %}
            {%endif%}
                {% block content %}
                {% endblock %}
            </div>
        </div>
            {% endblock %}
    </body>
</html>
