{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/css/club_card.css" />
{% endblock %}
{% block body %}
    {% block content %}
    <div class="header">
        <a href="#multicard-add-menu" role="button" data-toggle="modal" class="btn btn-primary">Добавить</a>
        <div id="dateControl" class="dropdown">
            <strong class="text-info">
                Месяц:
            </strong>
                <a class="navbar-link dropdown-toggle" href="#" data-toggle="dropdown">
                    {{ control_data.constant.current_date_str }}
                </a>
                <b class="caret"></b>
            <ul class="dropdown-menu usr">
                {% for month in control_data.date_control %}
                    <li><a href="/clubcards?date={{ month.val }}" tabindex="-1">{{ month.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <table id="all_passes" class="table table-bordered table-striped table-hover">
        <tr>
            <th>№</th>
            <th>Фамилия Имя</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Преподаватель</th>
            <th>Остаток</th>
            {% if user.is_superuser %}<th>Списано за предыдущий месяц</th>{% endif %}
        </tr>
        {% for p in passes %}
            <tr data-pid="{{ p.id }}" data-stid="{{ p.student.id }}">
                <td>{{ forloop.counter }}</td>
                <td>{{ p.student.last_name }} {{ p.student.first_name }}</td>
                <td>{{ p.start_date }}</td>
                <td>{{ p.end_date }}</td>
                <td>{{ p.opener.last_name }} {{ p.opener.first_name }}</td>
                <td>{{ p.lessons }}</td>
                {% if user.is_superuser %}<td>{{ p.prev_month }}</td>{% endif %}
            </tr>
        {% endfor %}
    </table>

    <div id="multicard-add-menu" class="modal hide">
        <div class="modal-header">
            <h4>Добавление клубной карты</h4>
        </div>
        <div class="content">
            <div class="groups">
                <h4>Группа</h4>
                <ul>
                    {% if user.is_superuser %}<strong>Мои группы:</strong>{% endif %}
                {% for group in groups.self %}
                    <li data-id="{{ group.id }}">{{ group.name }} - {{ group.days }}</li>
                {% endfor %}
                    {% if user.is_superuser %}
                        <br>
                        <strong>Других преподов:</strong>
                    {% endif %}
                {% for group in groups.other %}
                    <li data-id="{{ group.id }}">{{ group.t1 }} {{ group.t2 }} - {{ group.name }} - {{ group.days }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="students_lists">
                <h4>Ученик</h4>
                {% for group in students %}
                    <ul id="{{ group.id }}" class="hide">
                        {% for student in group.list %}
                            <li data-stid="{{ student.id }}">{{ student.last_name }} {{ student.first_name }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
            <div class="datepicker">
                <h4>Дата</h4>
                <input type="text" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
            <button class="btn btn-primary save_data" data-dismiss="modal" aria-hidden="true">Добавить</button>
        </div>
    </div>

    <div id="multicard-pass-menu" class="modal hide">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4></h4>
        </div>
        <img style="margin: 10px auto; display: block" src="../static/img/loader.gif">
        <div id="pass-detail-container">
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger delete_pass" data-dismiss="modal">Удалить абонемент</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
        </div>
    </div>

    {% endblock %}
    {% block script %}
        <script type="text/javascript" src="../static/js/club_cards.js"></script>
        <script type="text/javascript">
            window.ClubCards.init();
        </script>

    {% endblock %}
{% endblock %}