{% block head %}
    <style>
        .select-subst{
            display: none
        }
        .table tr.clickable td {
            line-height: 42px
        }
    </style>
{% endblock %}

{% block body %}
    {% block content %}
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Дата</th>
                <th colspan="{{default_tachers_cnt}}">Преподаватели</th>
            </tr>
            {% with all_teachers=teachers %}
                {% for dt, teachers in raw_substitutions %}
                    {% with rownum=forloop.counter%}
                        <tr class="clickable" data-date="{{ dt }}">
                        <td class="span3">{{ dt }}</td>
                        {% for teacher in teachers %}
                            {% if teacher %}
                                <td class="span4" data-id="{{teacher.pk}}">
                                    <span>{{ teacher.last_name }} {{teacher.first_name}}</span>
                                    <select class="select-subst span3 rownum{{rownum}}" name="select_subst">
                                        <option value="-100">-- не было --</option>
                                        {% for a_teacher in all_teachers %}
                                            <option {% if teacher == a_teacher %} selected {% endif %} value="{{a_teacher.pk}}">{{a_teacher.last_name}} {{a_teacher.first_name}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            {% else %}
                                <td class="span4" data-id="-100"><span>--не было--</span>
                                    <select class="select-subst" name="select_subst">
                                        <option value="-100">-- не было --</option>
                                        {% for teacher in all_teachers %}
                                            <option value="{{teacher.pk}}">{{teacher.last_name}} {{teacher.first_name}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endwith %}
                {% endfor %}
            {% endwith %}
        </table>
    {% endblock %}
    <script type="text/javascript">
(function() {
    var $table = $('.table'),
        $spans = $table.find('span'),
        $selects = $table.find('select'),
        alert_window = window.createWindowAlert();
    
    /*
    $table.find('tr.clickable').click(function() {
        $spans.show();
        $selects.hide();
    });
    */

    var changes = {};

    $('body').click(function() {
        $spans.show();
        $selects.hide();
       
        if(Object.keys(changes).length > 0) {
            var data = {
                group_id: {{ group_detail.id }},
                substitutions: changes
            }

            alert_window.success('coхранение');

            $.ajax({
                method: "POST", 
                url: "",
                data: {
                    action: 'rest_process_subst',
                    data: JSON.stringify(data)
                } 
            }).success(function() {
                changes = {};
                alert_window.success('сохранено');
            }).error(function() {
                alert_window.error('Возникла ошибка при сохранении.');
            });
        }
    });

    $table.find('tr.clickable').each(function() {
        var self = $(this);
        var $selects = self.find('select.select-subst')
        .click(function(event) {
            event.stopPropagation();
            var $options = $(this).children();
            
            for(var i = $options.length - 1; i>=0; i--) {
                var $option = $($options[i]);
                if($option.val() == $(this).val()) {
                    $(this).prev().text($option.text());
                }
            }
        })
        .change(function() {
            var cls = $(this).attr('class'),
                date = self.data('date'),
                row_selects = self.find('.' + cls.replace(/\s/g, '.'));
            
            changes[date] = $.map(row_selects, function(element) {
                return $(element).val();
            });
        });

    }).dblclick(function(event) {
        event.stopPropagation();

        $spans.show();
        $selects.hide();

        $(this).find('span').hide();
        $(this).find('select').show();
    });

})()
    </script>
{% endblock %}
