{% block head %}
{% endblock %}

{% block body %}
    {% block content %}
        <table id="journal" class="table table-bordered table-striped">
            <tr>
                <th style="width: 15px">
                №
                </th>
                <th>
                    Фамилия Имя
                </th>
                {% for date in group_detail.calendar %}
                <th class="hover-able {% if date.canceled %}canceled{% endif %}">{{ date.date }}{% if date.canceled %} <span style="margin-right: -55px">- отмена</span>{% endif %}</th>
                {% endfor %}
            </tr>
            {% for student in group_detail.students %}
            <tr  data-stid="{{ student.person.id }}" class="student_row">
                <td style="width: 15px">{{ forloop.counter }}</td>
                <td {% if student.debt %} style="min-width: 200px;" {% else %} style="min-width: 150px;" {% endif %} class="fio_cell">
                    <div class="dropdown sub-menu">
                        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
                        <!--b class="caret"></b-->
                        <span>{{ student.person.last_name }} {{ student.person.first_name }}</span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li class="sub_menu_del">
                                <input id="cbd{{ forloop.counter }}" type="checkbox" name="accordion">
                                <label for="cbd{{ forloop.counter }}">Удалить занятия</label>
                                <div class="li-content">
                                   <input class="datepicker" type="date" placeholder="начиная с" /><input type="text" placeholder="кол-во"><input data-stid="{{ student.person.id }}" type="button" value="Удалить" class="btn btn-small btn-primary del-btn" />
                                </div>
                            </li>
                            <li class="sub_menu_move">
                                <input id="cbm{{ forloop.counter }}" type="checkbox" name="accordion">
                                <label for="cbm{{ forloop.counter }}">Перенести занятия</label>
                                <div class="li-content">
                                    c <input class="datepicker" type="date" placeholder="дата" style="margin: 0 26px 5px 9px;" />на <input class="datepicker" type="date" placeholder="дата" /><input data-stid="{{ student.person.id }}" type="button" value="Перенести" class="btn btn-small btn-primary move-btn" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% if student.debt %}
                        <strong data-id="{{ student.person.id }}" class="text-error debt-main">долг: {{ student.debt.val }}</strong>
                    {% endif %}
                </td>
                {% for date in student.calendar %}
                <td class="hover-able {{ date.color }} {% if date.canceled %}canceled{% endif %}" data-date="{{ date.date }}" data-pass="{{ date.pass }}" data-pid="{{ date.pid }}" data-sign="{{ date.attended }}">
                    {% if date.pass and date.sign %}
                        <strong>
                            {% if date.sign > 0 and date.sign|slice:":2" != '--' %}
                                {% if date.sign_type == 's' %}
                                    {{ date.sign }}
                                {% else %}
                                    {{ date.sign }} р
                                {% endif %}
                            {% else %}
                                <span style="color: #f00000">
                                    {% if date.sign|slice:":2" == '--' %}
                                        {{ date.sign|slice:"2:" }}
                                    {% else %}
                                        {{ date.sign|stringformat:"+d"|slice:"1:" }} р
                                    {% endif %}
                                </span>
                            {% endif %}
                        </strong>
                    {% else %}
                        {{ date.sign }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <td style="border-right: 0px; border-top: 3px solid"></td>
                <td style="border-top: 3px solid; border-left: 0px""><strong>Всего:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}" style="border-top: 3px solid">{{ money.day_total }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td style="border-right: 0px"></td>
                <td style="border-left: 0px"><strong>Аренда залла:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}">{{ money.dance_hall }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td style="border-right: 0px"></td>
                <td style="border-left: 0px"><strong>30% клубу:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}">{{ money.club }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td style="border-right: 0px"></td>
                <td style="border-left: 0px"><strong>ИТОГО за день:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}">{{ money.balance }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td style="border-right: 0px"></td>
                <td style="border-left: 0px"><strong>Преподавателям:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}">{{ money.half_balance }}</td>
                {% endfor %}
            </tr>
        </table>

        <a href="" class="btn" onclick="window.open('/print?id={{ group_detail.id }}&type=full&subtype=lessons&date={{ control_data.constant.current_date_numval }}', '', 'width=1200, height=768, location=no')">Печать</a>

        <div style="border-top: 1px solid #dddddd; margin-top: 15px; padding-top: 10px;">
            <h4>Финансы</h4>
            <div>Всего: <strong>{{ group_detail.money_total.day_total }}</strong></div>
            <div>Аренда залла: <strong>{{ group_detail.money_total.dance_hall }}</strong></div>
            <div>30% клубу: <strong>{{ group_detail.money_total.club }}</strong></div>
            <div>ИТОГО: <strong>{{ group_detail.money_total.balance }}</strong></div>
            <div>Преподавателям: <strong>{{ group_detail.money_total.half_balance }}</strong></div>
        </div>

        <!-- Форма выбора абонемента -->
        <div id="pass_menu" class="modal hide">
            <div>
                {% for p in pass_detail %}
                    <div class="control-group">
                        <label class="radio">
                            <input type="radio" name="select_pass_type" value="{{ p.id }}" data-color="{{ p.html_color_class }}" data-prise="{{ p.prise }}">
                            <span>{{ p.name }}</span>
                            {% if p.lessons > 1 %}
                                    <input class="pass_menu-cnt" type="text" name="def_lesson_cnt" value="{{ p.lessons }}" />
                                    <input class="pass_menu-cnt" type="text" name="def_lesson_cnt" value="{{ p.skips }}" />
                            {% endif %}
                        </label>
                    </div>
                {% endfor %}
                <div class="control-group">
                    <label class="radio">
                        <input id="not_self_pay" type="radio" name="select_pass_type" value="-1">
                        <span>Списать с другого абонемента</span>
                    </label>
                    <div id="pass_menu_advanced" style="display: none">
                        <input id="pass_menu_fio" type="text" placeholder="Фамилия Имя">
                        <ul id="pass_menu_advanced_content"></ul>
                    </div>
                </div>
                <div class="control-group">
                    <label class="checkbox debt">
                        <input type="checkbox" disabled>
                        <span>долг</span>
                        <input class="pass_menu-debt-inp" type="text" readonly>
                    </label>
                </div>
            </div>
        </div>

        <!-- Форма редактирования занятия -->
        <div id="lesson_window" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><span id="lesson_window_date"></span> - {{ group_detail.name }}</h4>
                <label id="cancel_lesson" class="checkbox">
                    <input id="cancel_lesson_inp" type="checkbox">
                    Отменено
                </label>
            </div>
            <div id="lesson_container" style="max-height: 425px;">
                <table id="lesson_content" class="table table-bordered table-striped">
                    <tr><th>Фамилия Имя</th><th>Присутствие</th></tr>
                    {% for student in group_detail.students %}
                        <tr>
                            <td class="student_data" data-stid="{{ student.person.id }}">{{ student.person.last_name }} {{ student.person.first_name }}</td>
                            <td class="lesson_data" {% if student.multi_pass %} data-multipass_id="{{ student.multi_pass.id }}" data-multipass_lessons="{{ student.multi_pass.lessons }}"{% endif %}></td>
                        </tr>

                    {% endfor %}
                </table>
                <div id="block_table"></div>
            </div>
            <div class="modal-footer">
                <button id="printBtn" class="btn" style="float: left">Печать</button>
                <label class="checkbox" style="width: 141px;padding-left: 387px"><input id="full_attended" type="checkbox">Проставить пропуски</label>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                <button class="btn btn-primary save_data" data-context="lesson_window" data-dismiss="modal" aria-hidden="true">Сохранить</button>
            </div>
        </div>


        <!-- Форма восстановления отмененного занятия -->
        <div id="lesson_restore" class="modal hide fade">
            <div class="modal-header">
                <h4><span id="restore_lesson_window_date"></span> - {{ group_detail.name }} - занятие отменено</h4>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                <button id="restore_lesson_submit" class="btn btn-primary" data-context="lesson_window" data-dismiss="modal" aria-hidden="true">Восстановить</button>
            </div>
        </div>

        <div class="debt-write_off modal hide">
            <div class="form-inline debt">
                <label class="control-label debt-label">Погасить:</label>
                <input class="pass_menu-debt-inp" type="number">
                <button class="btn btn-small debt-write_off-btn" data-context="lesson_window" data-dismiss="modal" aria-hidden="true">Погасить</button>
            </div>
        </div>

    {% endblock %}

    {% block script %}
        <script type="text/javascript">
            (function() {
                var matrix = new window.View.Matrix(),
                    popoverLogic = new window.vidgetsLogic.Popover({{ group_detail.id }});

                // Логика sub-menu
                $('.sub-menu li').click(function(event) {
                    $(this).siblings().find('input:checked').prop('checked', false);
                    event.stopPropagation();
                });

                $('.sub-menu').click(function() {
                    $(this).find('input:checked').prop('checked', false);
                    $(this).find('input[type!=button]').val('');
                });

                var $datepicker = $('.sub-menu .datepicker').datepicker({
                    format: 'dd.mm.yyyy',
                    weekStart: 1
                }).on('changeDate', function(ev) {
                    $(this).next().focus();
                });

                function getSiblingsVals(elem) {
                    var params = [];
                    elem.siblings().each(function() {
                        params.push($(this).val())
                    });

                    return params;
                }

                $('.li-content input').on('focus', function() {
                    $(this).siblings('.datepicker').datepicker('hide');
                });

                $('.li-content .move-btn').click(function() {
                    console.log(getSiblingsVals($(this)));
                    if(confirm('Подтвердите перенос')) {
                        $.ajax('freezepass', {
                            data: {
                                group: {{ group_detail.id }},
                                date: JSON.stringify(getSiblingsVals($(this))),
                                ids: JSON.stringify([$(this).data('stid')])
                            }
                        }).done(function(data) {
                            reload();
                        }).error(function(err) {
                            alert('error');
                        })
                    }
                });

                $('.li-content .del-btn').click(function() {
                    if(confirm('Подтвердите удаление')) {
                        $.ajax('deletepass', {
                            data: {
                                gid: {{ group_detail.id }},
                                params: JSON.stringify(getSiblingsVals($(this))),
                                stid: $(this).data('stid')
                            }
                        }).done(function(data) {
                            reload();
                        }).error(function(err) {
                            alert('error');
                        })
                    }
                });

                /*
                if(confirm('Удалить абонемент?')) {

                }*/

                //=====================================================================================================

                /**
                 * Костыль для определения мультикарты
                 */
                function getPassTypeByName(name) {
                    var arr = [
                        {% for p in pass_detail %}
                            {
                               name: '{{ p.name }}',
                                id: {{ p.id }}
                            },
                        {% endfor %}
                    ];

                    for(var i= arr.length-1; i>=0; i++) {
                        if(name.toLowerCase() == arr[i].name.toLowerCase()) {
                            return arr[i];
                        }
                    }

                    return NaN;
                }


                /**
                 * Получить дату из колонки
                 * @param element
                 * @returns {*}
                 */
                function getDateFromColumn(element) {
                    try {
                        return matrix.getColumn(element)[0].text();
                    } catch(e) {
                        return NaN
                    }
                }

                /**
                 * Заполнить попап урока
                 * @param context
                 */
                function fillLessonsForm(context) {
                    try {
                        var $date = $('#lesson_window_date'),
                        data = matrix.getColumn(context),
                        $targets = $('.lesson_data'),
                        $popover = $('.popover');

                        $targets.empty();
                        $targets.off();
                        $targets.removeAttr('val');

                        $popover.remove();

                        var date_val = getDateFromColumn(context);
                        $date.text(date_val);

                        var i = 1;

                        $targets.each(function() {
                            var $this = $(this);

                            $this.attr('class', data[i].attr('class'));
                            $this.addClass('lesson_data');

                            // Удаляем следы hover-эффекта от родительской таблицы
                            $this.removeClass('active');
                            $this.removeClass('highlight');

                            if(data[i].data('pass') === 'True') {
                                var attended = data[i].data('sign') == 'True',
                                    $inp = $('<input type="checkbox" style="margin: 0" />'),
                                    label = data[i].text();

                                $this.attr('data-pid', data[i].data('pid'));

                                $this.append($inp);
                                $this.append(label);
                                if(attended) {
                                    $inp.prop('checked', 'checked');
                                }

                                $this.click(function(event) {

                                    var $target = $(event.target);
                                    if(!$target.is('input') && !$target.is('a') && !$target.is('span') && !$target.is('b.caret') && !$target.is('li')) {
                                        var cb = $(this).children().first();

                                        if(cb.prop('checked')) {
                                            cb.removeAttr('checked');
                                        } else {
                                            cb.prop('checked', 'checked');
                                        }
                                    }
                                });
                            } else {
                                $this.addClass('add-pass');
                                popoverLogic.init($this);

                                $this.click(function() {
                                    popoverLogic.hide();
                                    popoverLogic.show($(this));
                                    if ($this.attr('data-multipass_id')) {
                                        $('.popover-content').find('.control-group').each(function() {
                                            var $label = $(this).find('label span');
                                            if($label.text().toLowerCase().indexOf('мультикарта') >= 0) {
                                                $label.html('<strong>Мультикарта ('+$this.data('multipass_lessons')+')</strong>')
                                            }
                                        });
                                    }

                                    $this.parents('table').find('.highlight').removeClass('highlight');
                                    $this.siblings('td').addClass('highlight');
                                    $this.addClass('highlight');

                                });
                            }

                            i++;
                        });

                        var $blockTable = $('#block_table'),
                            $inp = $('#cancel_lesson_inp');

                        // Если стоит галочка в поле "Отменено"
                        if($inp.prop('checked')) {
                            $blockTable.show();
                        }

                        $inp.click(function() {
                            var container = $('#lesson_container'),
                                content = $('#lesson_content');

                            if($(this).prop('checked')) {
                                container.css('position','relative');
                                container.css('overflow-y','hidden');
                                popoverLogic.hide();
                                $blockTable.height(content.height() + 20);
                                $blockTable.show();
                            } else {
                                container.css('position','static');
                                container.css('overflow-y','scroll');
                                $blockTable.hide();
                                $('.popover-opened').removeClass('popover-opened');
                            }
                        });

                        var printBtn = $('#printBtn');
                            printBtn.off('click');
                            printBtn.click(function() {
                                window.open('/print?id={{ group_detail.id }}&type=lesson&date='+getDateFromColumn(context).replace(/\./g, ''), '', 'width=500, height=800, location=no')
                            });
                    } catch (e) {

                    }
                }

                // ====================================================================================================
                // ====================================================================================================

                // Add DOM events
                var cl = $('.hover-able');
                cl.mouseenter(function(event) {

                    var $this = $(this);

                    if($this.hasClass('fio_cell')) {
                        if(!$this.hasClass('active')) $this.addClass('highlight');
                    } else {
                        if(!$this.hasClass('active')) matrix.highlightColumn($this);
                    }

                });

                cl.mouseleave(function() {

                    var $this = $(this);

                    if($this.hasClass('fio_cell')) {
                        if(!$(this).hasClass('active')) $this.removeClass('highlight');
                    } else {
                        if(!$(this).hasClass('active')) matrix.unHighlightColumn($(this));
                    }

                });

                // ====================================================================================================
                // ====================================================================================================

                var tr = $('#journal tr');
                tr.click(function(event) {

                    var $this = $(event.target);

                    if($this.hasClass('hover-able')) {

                        matrix.deactivateAll();

                        if(!$this.hasClass('fio_cell')) {
                            matrix.deactivateAll();
                            matrix.makeActive(event.target);
                        } else {
                            $this.addClass('highlight');
                            $this.addClass('active');
                        }

                    }
                });

                tr.click(function(event) {
                    var $this = $(event.target),
                        date = getDateFromColumn($this);

                    if($this.hasClass('canceled')) {

                        $('#lesson_restore').modal('show');
                        $('#restore_lesson_window_date').text(date);

                    } else if($this.hasClass('hover-able')) {

                        fillLessonsForm($this);

                        if (!$this.hasClass('fio_cell')) {
                            $('#lesson_window').modal('show');
                        }
                    }
                });

                $('#restore_lesson_submit').click(function() {
                    backDrop('show');
                    $.ajax({
                        method: 'GET',
                        url: 'restorelesson',
                        data: {
                            id: {{ group_detail.id }},
                            date: $('#restore_lesson_window_date').text().replace(/[^\w\.]/g,'')
                        }
                    }).error(function(err) {
                        alert('Возникла ошибка при восстановлении отмененного занятия');
                       backDrop('hide');
                    }).done(function(data) {
                        window.location.pathname = 'group?id={{ group_detail.id }}&date={{ control_data.constant.current_date_numval }}'
                    });
                });

                var $lesson_window = $('#lesson_window'),
                    opened = false;

                $lesson_window.click(function(event) {
                    var $target = $(event.target),
                        top = $target.parentsUntil('.popover');

                    console.log(top[top.length-1]);

                    if(!($(top[top.length-1]).is('.popover-inner') || $target.is('.lesson_data')) && popoverLogic.opened && opened) {
                        popoverLogic.hide();
                    }
                    opened = popoverLogic.opened;
                });

                $lesson_window.on('hide', function(event) {
                    if(popoverLogic.opened) {
                        popoverLogic.hide();
                        opened = false;
                        return false;
                    }
                });

                $lesson_window.on('hidden', function(){
                    popoverLogic.stopIntervals();
                    $(this).find('.highlight').removeClass('highlight');
                    $('#full_attended').prop('checked', false);
                    $('#cancel_lesson_inp').prop('checked', false);
                });

                // ====================================================================================================
                // ====================================================================================================

                var $saveButton = $('.save_data');

                $saveButton.click(function() {
                    backDrop('show');

                    popoverLogic.hide();

                    var data_source = $('#lesson_content').find('tr:gt(0)'),
                        json = {
                            group_id: {{ group_detail.id }},
                            date: $('#lesson_window_date').text(),
                            checked: [],
                            unchecked: [],
                            canceled: false
                        };

                    if(!$(this).data('context') === 'lesson_window') {
                        return;
                    }

                    if(!$('#cancel_lesson_inp').prop('checked')) {

                        var full_attended = $('#full_attended').prop('checked');

                        data_source.each(function() {
                            var cont = $(this).children(),
                                lesson = $(cont[1]),
                                student_id = $(cont[0]).data('stid');

                            lesson_inp = lesson.find('input');

                            if(lesson.find('input').length > 0) {
                                if(lesson.find('input:checked').length > 0) {
                                    if(lesson.hasClass('add-pass')) {

                                        var values = {
                                            student_id: student_id,
                                            pass_type: lesson.attr('val'),
                                            from_another: (lesson.attr('val') == -1) ? lesson.attr('subval') : null,
                                            presence: true,
                                            debt: lesson.data('debt'),
                                            lcnt: lesson.data('lcnt'),
                                            scnt: lesson.data('scnt')
                                        };

                                        if(lesson.attr('data-multipass_id') && values.pass_type == getPassTypeByName('Мультикарта').id) {
                                            values.pass_id = lesson.data('multipass_id');
                                        }
                                        json.checked.push(values);
                                    } else {
                                        json.checked.push(lesson.data('pid'));
                                    }
                                } else if(lesson.attr('val') !== undefined) {
                                    json.checked.push({
                                        student_id: student_id,
                                        pass_type: lesson.attr('val'),
                                        presence: false
                                    });
                                } else if(full_attended) {
                                    json.unchecked.push(lesson.data('pid'));
                                }
                            }
                        });

                    } else {
                        json.canceled = true
                    }

                    $.ajax({
                        method: 'GET',
                        url: 'processlesson',
                        data: {
                            data: JSON.stringify(json)
                        }
                    }).done(function() {
                        reload()
                    }).error(function(err) {
                        console.log(err);
                    });
                });

                function backDrop(param) {
                    var handlers = {
                        show: function() {
                            $('<div class="modal-backdrop">Тут должна быть анимация</div>').appendTo('body')
                        },
                        hide: function() {
                            $('modal-backdrop').remove()
                        }
                    };

                    handlers[param]();
                }

                var $debtLinks = $('.debt-main');

                $debtLinks.popover({
                    content: $('.debt-write_off').html(),
                    html: true,
                    show: false
                });

                $debtLinks.click(function() {
                    var $this = $(this);

                    try{
                        $this.popover('toggle');
                    } catch (e) {}


                    var $popover = $this.siblings('.popover'),
                    $clickBtn = $popover.find('.debt-write_off-btn');
                    $clickBtn.off('click');

                    console.log($popover);
                    console.log($clickBtn);

                    $clickBtn.click(function() {

                        var $td = $(this).parentsUntil('td'),
                            $val = $popover.find('input');

                        function cb(err, data) {
                            if(!err) {
                                needReload = true;
                                if(parseInt(data) == 0) {
                                    $this.remove();
                                } else {
                                    console.log('else');
                                    $this.text('долг: '+ data);
                                }
                            }
                        }

                        $.ajax({
                            method: 'GET',
                            url: 'writeoffdebt',
                            data: {
                                gid: {{ group_detail.id }},
                                sid: $this.data('id'),
                                val: $val.val()
                            }
                        }).done(function(data) {
                            cb(null, data)
                        }).error(function(err) {
                            cb(err, null)
                        });

                        $this.popover('hide');
                    });
                });

                $('.pass_menu-cnt').hide();

                var needReload = false;

                function reload() {
                    //window.location.pathname = 'group?id={{ group_detail.id }}&date={{ control_data.constant.current_date_numval }}';
                    window.location.reload();
                }

                 // Перезагрузка страницы если надо
                $('.close').click(function() {
                    if(needReload) {
                        needReload = false;
                        reload()
                    }
                });

                $('.cancel').click(function() {
                    if(needReload) {
                        needReload = false;
                        reload()
                    }
                });

                $('.modal').on('hidden', function() {
                console.log(needReload);
                    if(needReload) {
                        needReload = false;
                        reload()
                    }
                });
            })()
        </script>
    {% endblock %}
{% endblock %}