{% block head %}
{% endblock %}

{% block body %}

    {% block content %}

            <table class="table table-bordered table-striped table-hover">
                <tr class="shotcard-disabled">
                    <th class="info-fio"><input class="student-selector" type="checkbox" value="-1" /></th>
                    <th>№</th>
                    <th style="min-width: 100px;">Фамилия</th>
                    <th style="min-width: 100px;">Имя</th>
                    <th style="min-width: 133px;">Телефон</th>
                    <th style="min-width: 150px;">E-mail</th>
                    <th>ОРГ-статус</th>
                    <th>Остаток по абонементу</th>
                    <th style="min-width: 120px;">Коментарий</th>
                </tr>
                {% for student in group_detail.students %}
                <tr data-id="{{ student.person.id }}" data-active="{{ student.person.active }}">
                    <td class="info-fio shotcard-disabled"><input class="shotcard-disabled" type="checkbox" value="{{ student.person.id }}" /></td>
                    <td>{{ forloop.counter }}</td>
                    <td style="min-width: 100px;">{{ student.person.last_name }}</td>
                    <td style="min-width: 100px;">{{ student.person.first_name }}</td>
                    <td style="min-width: 133px;">{{ student.person.str_phone }}</td>
                    <td style="min-width: 150px;">{{ student.person.e_mail }}</td>
                    <td>{% if student.person.org %}ОРГ{% endif %}</td>
                    <td>{{ student.pass_remaining }}
                        {% if student.debt %}
                            <strong class="text-error">ДОЛГ ({{ student.debt }})</strong>
                        {% endif %}
                    </td>
                    <td class="comment" style="min-width: 120px; line-height: 1">
                        {% if student.person.active == 0 %}
                            <strong class="text-error">УДАЛЕН</strong>
                        {% else %}
                            {% if student.last_comment %}{{ student.last_comment.text }}{% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <a style="margin-right: 20px;" role="button" class="btn" onclick="window.open('/print?id={{ group_detail.id }}&type=full&subtype=info&date={{ control_data.constant.current_date_numval }}', '', 'width=1200, height=768, location=no')">Печать</a>
            <a id="editStudentBtn" role="button" class="btn" data-toggle="modal">Добавить</a>
            <a id="deleteStudentBtn" role="button" class="btn disabled allowdisable">Удалить</a>
            <a id="freezePassBtn" role="button" class="btn disabled allowdisable">Перенести абонемент(ы)</a>
            {% if user.is_superuser %}
            <a id="changeGroupBtn" role="button" class="btn disabled allowdisable" href="#changeGroup" data-toggle="modal">Перевести в другую группу</a>
            {% endif %}

            <!-- Форма "Карточка ученика" -->
            <div id="editStudent" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="ib">Карточка ученика</h3><div class="alert ib" style="width: 200px; z-index: 9999;"></div>
                </div>
                <div class="form-horizontal" id="editStudentContent">
                    <input type="hidden" name="id" id="stid" />
                    <div class="modal-body">
                            <div class="control-group">
                                <label class="control-label" for="last_name">Фамилия</label>
                                <div class="controls">
                                    <input type="text" name="last_name" id="last_name" required />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="first_name">Имя</label>
                                <div class="controls">
                                    <input type="text" name="first_name" id="first_name" required />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="phone">Тел.</label>
                                <div class="controls">
                                    <input type="tel" name="phone" id="phone" required />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="e_mail">E-mail</label>
                                <div class="controls">
                                    <input type="email" name="e_mail" id="e_mail" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="is_org">ОРГ</label>
                                <div class="controls">
                                    <input type="checkbox" name="is_org" id="is_org" />
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Отмена</button>
                        <input class="btn btn-primary" type="submit" value="Добавить" />
                    </div>
                </div>
            </div>

            <div id="passList" class="modal hide fade">
                <div class="modal-header"><h4></h4></div>
                <ul id="passListContainer" class="modal-ul"></ul>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    <input class="btn btn-primary" type="submit" value="Добавить" />
                </div>
            </div>

            <div id="changePassOwnerModal" class="modal hide fade">
                <div class="modal-header"><h4>Передача остатка по абонементу</h4></div>
                <ul class="owners modal-ul"></ul>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    <input class="btn btn-primary" type="submit" value="Передать" />
                </div>
            </div>

            <div id="freezePassModal" class="modal hide fade">
                <div class="modal-header"><h4></h4></div>
                <div class="content">Перенести c <input type="text" class="datepicker" name="calendar"> на <input type="text" class="datepicker" name="calendar"></div>
                <div class="modal-footer">
                    <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    <input class="btn btn-primary" type="submit" value="Перенести" />
                </div>
            </div>

            <div id="shortCardMenu">
                <ul>
                    <li id="changeStudentData">Изменить</li>
                    <li id="deleteStudent">Удалить</li>
                    <li id="restoreStudent" style="display: none">Восстановить</li>
                    <!--li class="divider"></li>
                    <li id="freezeStudentPass">Перенести абонемент</li>
                    <li id="changePassOwner">Передать абонемент</li>
                    <li id="writeOffPass">Списать абонемент</li>
                    <li id="deletePass">Удалить абонемент</li>
                    <li class="divider"></li-->
                    <li id="comment">Коментарии</li>
                </ul>
            </div>

            <div id="commentWidget" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="ib">Коментарии - <span></span></h3>
                </div>
                <div style="margin: 4px 0 0 170px; z-index: 9999;" class="alert ib"></div>
                <div id="commentWidgetContent">

                </div>
                <div class="modal-footer">
                    <span id="addCommentButtonBlock">
                        <button id="addComment" class="btn btn-primary" style="margin: 5px 0 5px 15px;" class="btn">Добавить</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                    </span>
                    <span id="saveCommentButtonBlock">
                        <button id="saveComment" class="btn btn-primary" style="margin: 5px 0 5px 15px;" class="btn">Сохранить</button>
                        <button id="saveCommentButtonBlockHide" class="btn">Отмена</button>
                    </span>
                </div>
            </div>

        {% if user.is_superuser %}
            <div id="changeGroup" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="ib">Перевести в другую группу</h3>
                    <div class="alert" style="position: absolute; left: 171px"></div>
                </div>
                <div id="changeGroupContent">
                    <div>
                        <select>
                            <option class="muted" value="-1">Выберите группу</option>
                            {% for group in other_groups %}
                                <option value="{{ group.id }}">{{ group }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input type="text" placeholder="Выберите дату" class="datepicker" name="calendar">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="margin: 5px 0 5px 15px;" class="btn">Перевести</button>
                    <button class="btn" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        {% endif %}

    {% endblock %}

    {% block script %}
        <script type="text/javascript">
            if(!window.group) window.group = {};
            if(!window.group.id) window.group.id = {{ group_detail.id }};
            if(!window.group.name) window.group.name = '{{ group_detail.name }}';
            if(!window.controlData) window.controlData = {};
            if(!window.controlData.currentDate) window.controlData.currentDate = '{{ control_data.constant.current_date_numval }}';
        </script>

        <script type="text/javascript" src="../static/js/component_group_info.js"></script>
    {% endblock %}

{% endblock %}
