{% block head %}
{% endblock %}

{% block body %}
    {% block content %}
        <table id="journal" class="table table-bordered table-striped">
            <tr>
                <th style="width: 15px">
                №
                </th>
                <th>
                    Фамилия Имя
                </th>
                {% for date in group_detail.calendar %}
                <th class="hover-able {% if date.canceled %}canceled{% endif %}">{{ date.date }}{% if date.canceled %} <span style="margin-right: -55px">- отмена</span>{% endif %}</th>
                {% endfor %}
            </tr>
            {% for student in group_detail.students %}
            <tr  data-stid="{{ student.person.id }}" class="student_row">
                <td style="width: 15px">{{ forloop.counter }}</td>
                <td {% if student.debt %} style="min-width: 200px; line-height: 1" {% else %} style="min-width: 150px; line-height: 1" {% endif %} class="fio_cell">
                    <div class="dropdown sub-menu">
                        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
                        <!--b class="caret"></b-->
                        <span>{{ student.person.last_name }} {{ student.person.first_name }}</span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li class="sub_menu_del">
                                <input id="cbd{{ forloop.counter }}" type="checkbox" name="accordion">
                                <label for="cbd{{ forloop.counter }}">Удалить занятия</label>
                                <div class="li-content">
                                   <input class="datepicker" type="text" placeholder="начиная с" style="margin-left: 0 !important;" /><input type="text" placeholder="кол-во"><input data-stid="{{ student.person.id }}" type="button" value="Удалить" class="btn btn-small btn-primary del-btn" />
                                </div>
                            </li>
                            <li class="sub_menu_move">
                                <input id="cbm{{ forloop.counter }}" type="checkbox" name="accordion">
                                <label for="cbm{{ forloop.counter }}">Перенести занятия</label>
                                <div class="li-content">
                                    <input class="datepicker" type="text" placeholder="с даты"/> <input class="datepicker" type="text" placeholder="на дату" /><input data-stid="{{ student.person.id }}" type="button" value="Перенести" class="btn btn-small btn-primary move-btn" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% if student.person.active == 0 %}
                        <strong class="text-error">УДАЛЕН</strong>
                    {% endif %}
                    {% if student.debt %}
{#                        <strong data-id="{{ student.person.id }}" class="text-error debt-main">долг: {{ student.debt }}</strong>#}
                        <strong data-id="{{ student.person.id }}" class="text-error">долг: {{ student.debt }}</strong>
                    {% endif %}
                </td>
                {% for date in student.calendar %}
                <td class="hover-able {{ date.color }} {% if date.canceled %}canceled{% endif %}" data-date="{{ date.date }}" data-pass="{{ date.pass }}" data-pid="{{ date.pid }}" data-sign="{{ date.attended }}">
                    {% if date.sign %}
                        <strong>
                            {% if date.sign > 0 and date.sign|slice:":2" != '--' %}
                                {% if date.sign_type == 's' %}
                                    {{ date.sign }}
                                {% else %}
                                    {{ date.sign }}
                                {% endif %}
                            {% else %}
                                <span style="color: #f00000">
                                    {% if date.sign|slice:":2" == '--' %}
                                        {{ date.sign|slice:"2:" }}
                                    {% else %}
                                        {{ date.sign|stringformat:"+d"|slice:"1:" }}
                                    {% endif %}
                                </span>
                            {% endif %}
                        </strong>
                    {% else %}
                        {{ date.sign }}
                    {% endif %}
                    {% if date.first %}
                        <div class="circle circle-green"></div>
                    {% endif %}
                    {% if date.last %}
                        <div class="circle circle-red"></div>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <td style="border-right: 0; border-top: 3px solid"></td>
                <td style="border-top: 3px solid; border-left: 0""><strong>Всего:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}" style="border-top: 3px solid">{{ money.day_total }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td style="border-right: 0px"></td>
                <td style="border-left: 0px"><strong>Аренда залла:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}">{{ money.dance_hall }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td style="border-right: 0px"></td>
                <td style="border-left: 0px"><strong>30% клубу:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}">{{ money.club }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td style="border-right: 0px"></td>
                <td style="border-left: 0px"><strong>ИТОГО за день:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}">{{ money.balance }}</td>
                {% endfor %}
            </tr>
            {% if group_detail.full_teachers %}
            <tr>
                <td style="border-right: 0px"></td>
                <td style="border-left: 0px"><strong>Преподавателям:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}">{{ money.half_balance }}</td>
                {% endfor %}
            </tr>
            {% endif %}
        </table>

        <a href="" class="btn" onclick="window.open('/print?id={{ group_detail.id }}&type=full&subtype=lessons&date={{ control_data.constant.current_date_numval }}', '', 'width=1200, height=768, location=no')">Печать</a>

        <div style="border-top: 1px solid #dddddd; margin-top: 15px; padding-top: 10px;">
            <h4>Финансы</h4>
            <div>Всего: <strong>{{ group_detail.money_total.day_total }}</strong></div>
            <div>Аренда залла: <strong>{{ group_detail.money_total.dance_hall }}</strong></div>
            <div>30% клубу: <strong>{{ group_detail.money_total.club }}</strong></div>
            <div>ИТОГО: <strong>{{ group_detail.money_total.balance }}</strong></div>
            {% if group_detail.full_teachers %}
            <div>Преподавателям: <strong>{{ group_detail.money_total.half_balance }}</strong></div>
            {% endif %}
            {% if group_detail.money_total.next_month_balance %}
                <div>На следующий месяц: <strong>{{ group_detail.money_total.next_month_balance }}</strong></div>
            {% endif %}
        </div>

        <!-- Форма выбора абонемента -->
        <div id="pass_menu" class="modal hide">
            <div>
                {% for p in pass_detail %}
                    <div class="control-group">
                        <label class="radio">
                            <input type="radio" name="select_pass_type" value="{{ p.id }}" data-color="{{ p.html_color_class }}" data-prise="{{ p.prise }}">
                            <span>{{ p.name }}</span>
                            {% if p.lessons > 1 %}
                                    <input class="pass_menu-cnt" type="text" name="def_lesson_cnt" value="{{ p.lessons }}" />
                                    <input class="pass_menu-cnt" type="text" name="def_lesson_cnt" value="{{ p.skips }}" />
                            {% endif %}
                        </label>
                    </div>
                {% endfor %}
                <div class="control-group">
                    <label class="radio">
                        <input id="not_self_pay" type="radio" name="select_pass_type" value="-2">
                        <span>Долг</span>
                    </label>
                </div>
                <div class="control-group">
                    <label class="radio">
                        <input id="not_self_pay" type="radio" name="select_pass_type" value="-1">
                        <span>Списать с другого абонемента</span>
                    </label>
                    <div id="pass_menu_advanced" style="display: none">
                        <input id="pass_menu_fio" type="text" placeholder="Фамилия Имя">
                        <ul id="pass_menu_advanced_content"></ul>
                    </div>
                </div>
                <!--div class="control-group">
                    <label class="checkbox debt">
                        <input type="checkbox" disabled>
                        <span>долг</span>
                        <input class="pass_menu-debt-inp" type="text" readonly>
                    </label>
                </div-->
            </div>
        </div>

        <!-- Форма редактирования занятия -->
        <div id="lesson_window" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><span id="lesson_window_date"></span> - {{ group_detail.name }}</h4>
                <label id="cancel_lesson" class="checkbox">
                    <input id="cancel_lesson_inp" type="checkbox">
                    Отменено
                </label>
            </div>
            <div id="lesson_container" style="max-height: 425px;">
                <table id="lesson_content" class="table table-bordered table-striped">
                    <tr><th>Фамилия Имя</th><th>Присутствие</th></tr>
                    {% for student in group_detail.students %}
                        <tr>
                            <td class="student_data" data-stid="{{ student.person.id }}">{{ student.person.last_name }} {{ student.person.first_name }}</td>
                            <td class="lesson_data"></td>
                        </tr>

                    {% endfor %}
                </table>
                <div id="block_table"></div>
            </div>
            <div class="modal-footer">
                <button id="printBtn" class="btn" style="float: left">Печать</button>
                <label class="checkbox" style="width: 141px;padding-left: 387px"><input id="full_attended" type="checkbox">Проставить пропуски</label>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                <button class="btn btn-primary save_data" data-context="lesson_window" data-dismiss="modal" aria-hidden="true">Сохранить</button>
            </div>
        </div>


        <!-- Форма восстановления отмененного занятия -->
        <div id="lesson_restore" class="modal hide fade">
            <div class="modal-header">
                <h4><span id="restore_lesson_window_date"></span> - {{ group_detail.name }} - занятие отменено</h4>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                <button id="restore_lesson_submit" class="btn btn-primary" data-context="lesson_window" data-dismiss="modal" aria-hidden="true">Восстановить</button>
            </div>
        </div>

        <div class="debt-write_off modal hide">
            <div class="form-inline debt">
                <label class="control-label debt-label">Погасить:</label>
                <input class="pass_menu-debt-inp" type="number">
                <button class="btn btn-small debt-write_off-btn" data-context="lesson_window" data-dismiss="modal" aria-hidden="true">Погасить</button>
            </div>
        </div>

    {% endblock %}

    {% block script %}
        <script type="text/javascript">
            if(!window.group) window.group = {};
            if(!window.group.id) window.group.id = {{ group_detail.id }};
            if(!window.group.name) window.group.name = '{{ group_detail.name }}';
            if(!window.controlData) window.controlData = {};
            if(!window.controlData.currentDate) window.controlData.currentDate = '{{ control_data.constant.current_date_numval }}';
        </script>
        <script type="text/javascript" src="../static/js/component_journal.js"></script>
    {% endblock %}

{% endblock %}
