{% block head %}
{% endblock %}

{% block body %}

    {% block content %}

            <table class="table table-bordered table-striped table-hover">
                <tr class="shotcard-disabled">
                    <th class="info-fio"><input class="student-selector" type="checkbox" value="-1" /></th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Телефон</th>
                    <th>E-mail</th>
                    <th>ОРГ-статус</th>
                    <th>Остаток по абонементу</th>
                </tr>
                {% for student in group_detail.students %}
                <tr data-id="{{ student.person.id }}">
                    <td class="info-fio shotcard-disabled"><input class="shotcard-disabled" type="checkbox" value="{{ student.person.id }}" /></td>
                    <td>{{ student.person.last_name }}</td>
                    <td>{{ student.person.first_name }}</td>
                    <td>+{{ student.person.phone }}</td>
                    <td>{{ student.person.e_mail }}</td>
                    <td>{% if student.person.org %}ОРГ{% endif %}</td>
                    <td>{{ student.pass_remaining }}</td>
                </tr>
                {% endfor %}
            </table>
            <a id="editStudentBtn" role="button" class="btn" data-toggle="modal">Добавить</a>
            <a id="deleteStudentBtn" role="button" class="btn disabled">Удалить</a>
            <a id="freezePassBtn" role="button" class="btn disabled">Перенести абонемент(ы)</a>

            <!-- Форма "Карточка ученика" -->
            <div id="editStudent" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Карточка ученика</h3>
                </div>
                <div class="form-horizontal" id="editStudentContent">
                    <input type="hidden" name="id" id="stid" />
                    <div class="modal-body">
                            <div class="control-group">
                                <label class="control-label" for="last_name">Фамилия</label>
                                <div class="controls">
                                    <input type="text" name="last_name" id="last_name" required />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="first_name">Имя</label>
                                <div class="controls">
                                    <input type="text" name="first_name" id="first_name" required />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="phone">Тел.</label>
                                <div class="controls">
                                    <input type="tel" name="phone" id="phone" required />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="e_mail">E-mail</label>
                                <div class="controls">
                                    <input type="email" name="e_mail" id="e_mail" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="is_org">ОРГ</label>
                                <div class="controls">
                                    <input type="checkbox" name="is_org" id="is_org" />
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                        <input class="btn btn-primary" type="submit" value="Добавить" />
                    </div>
                </div>
            </div>

            <div id="passList" class="modal hide fade">
                <div class="modal-header"><h4></h4></div>
                <ul id="passListContainer" class="modal-ul"></ul>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    <input class="btn btn-primary" type="submit" value="Добавить" />
                </div>
            </div>

            <div id="changePassOwnerModal" class="modal hide fade">
                <div class="modal-header"><h4>Передача остатка по абонементу</h4></div>
                <ul class="owners modal-ul"></ul>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    <input class="btn btn-primary" type="submit" value="Передать" />
                </div>
            </div>

            <div id="freezePassModal" class="modal hide fade">
                <div class="modal-header"><h4></h4></div>
                <div class="content">Перенести на: <input type="text" class="datepicker" name="calendar"></div>
                <div class="modal-footer">
                    <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    <input class="btn btn-primary" type="submit" value="Перенести" />
                </div>
            </div>

            <div id="shortCardMenu">
                <ul>
                    <li id="changeStudentData">Изменить</li>
                    <li id="deleteStudent">Удалить</li>
                    <li class="divider"></li>
                    <li id="freezeStudentPass">Перенести абонемент</li>
                    <li id="changePassOwner">Передать абонемент</li>
                    <li id="writeOffPass">Списать абонемент</li>
                    <li id="deletePass">Удалить абонемент</li>
                </ul>
            </div>

    {% endblock %}

    {% block script %}

        <script type="text/javascript">

            (function() {
                /**
                 * Заполнение таблицы редактирования
                 * @type {*|jQuery|HTMLElement}
                 */
                var $infoTable = $('#info table'),
                    $studentForm = $('#editStudent'),
                    addUrl = '/group/addstudent',
                    editUrl = '/group/editstudent';

                var $shortCardMenu_lastIndex, $row, $id, $name, $family, $index;
                var $groupId = {{ group_detail.id }};

                $infoTable.find('tr').click(function(event) {
                    if(!$(event.target).hasClass('shotcard-disabled') && $(event.target).parentsUntil('.shotcard-disabled').last().is('html')) {
                        event.stopPropagation();
                        var $shortCardMenu = $('#shortCardMenu');
                        $shortCardMenu.css('top', event.clientY);
                        $shortCardMenu.css('left', event.clientX);
                        $id = $(this).data('id');

                        var chld = $(this).children();

                        $name = $(chld[1]).text();
                        $family = $(chld[2]).text();
                        $index = $(this).index();

                        function hide() {
                            $shortCardMenu.hide();
                            $shortCardMenu_lastIndex = null;
                            $('body').off('click', hide);
                        }

                        function show() {
                            $shortCardMenu_lastIndex = $index;
                            $shortCardMenu.show();
                        }

                        if($shortCardMenu_lastIndex == $index) {
                            hide();
                            $row = null;
                        } else {
                            show();
                            $('body').on('click', hide);
                            $row = $(this);
                        }


                    }
                });
                
                function getIdFromSelectedRows() {
                    var result = [];
                    
                    $infoTable.find('tr:gt(0)').each(function() {
                        if($(this).find('input:checked').length > 0) {
                            result.push($(this).data('id'));
                        }
                    });
                    
                    return result;
                }
                
                $('#changeStudentData').click(function() {
                    showStudentCard();
                });

                $('#deleteStudent').click(function() {
                    processData('deletestudent', {ids: JSON.stringify([$id])}, function(err, data) {
                        if(!err) {
                            reload()
                        } else {
                            console.log(err);
                        }
                    })
                });
                
                $('#deleteStudentBtn').click(function() {
                    var toDelete = getIdFromSelectedRows();
                    if(toDelete.length > 0) {
                        processData('deletestudent', {ids: JSON.stringify(toDelete)}, function(err, data) {
                        if(!err) {
                            reload()
                        } else {
                            console.log(err);
                        }
                    })
                    }
                });

                var $freezePass = $('#freezePassModal');
                var $datepicker = $('.datepicker');
                var now = new Date();
                var freezeData = [];

                $datepicker.datepicker({
                    format: 'dd.mm.yyyy',
                    weekStart: 1
                }).on('changeDate', function(ev) {
                    $datepicker.datepicker('hide');
                });

                $freezePass.modal({show: false});

                $('#freezeStudentPass').click(function() {
                    freezeData = [$id];
                    $datepicker.datepicker('setValue', now);
                    $datepicker.attr('data-date', now.valueOf());
                    $freezePass.find('.modal-header h4').text($family+' '+$name+' - заморозка абонемента');
                    $freezePass.modal('show');
                });

                $('#freezePassBtn').click(function() {
                    clearFreeze();
                    freezeData = getIdFromSelectedRows();

                    if(freezeData.length > 0) {
                        $datepicker.datepicker('setValue', now);
                        $datepicker.attr('data-date', now.valueOf());
                        $freezePass.find('.modal-header h4').text('{{ group_detail.name }} - заморозка абонементов (выбрано: '+freezeData.length+')');
                        $freezePass.modal('show');
                    }
                });

                function freezePass() {
                    processData('freezepass',
                            {
                                ids: JSON.stringify(freezeData),
                                group: {{ group_detail.id }},
                                date: $datepicker.val()
                            }, function(err, data) {
                        if(!err) {
                            clearFreeze();
                            $freezePass.modal('hide');
                            reload();
                        } else {
                            console.log(err);
                        }
                    });
                }

                function clearFreeze() {
                    freezeData = [];
                }

                $freezePass.find('.modal-footer .cancel').click(clearFreeze);
                $freezePass.find('.modal-footer .btn-primary').click(freezePass);

                var $passList = $('#passList');
                $passList.modal({show: false});

                $('#writeOffPass').click(function() {
                    var $btn = $passList.find('.modal-footer .btn-primary');
                    $btn.val('Списать');

                    $btn.off('click');
                    $btn.click(function() {

                        var ids = getPassListData(),
                            msg = (ids.length > 1) ?  'Списать абонементы' : 'Списать абонемент';

                        if(confirm(msg)) {
                            processData('writeoffpass', {ids: JSON.stringify(ids)}, function(err, data) {
                                if(!err) {
                                    $passList.modal('hide');
                                    reload()
                                } else {
                                    $passList.modal('hide');
                                    alert('Что-то пошло не так, пожалуйста попробуйте еще раз.')
                                }
                            });
                        }
                    });

                    $passList.find('.modal-header h4').text($family+' '+$name+' - списание остатка');
                    processData('getpasses', {owner: $id, group: $groupId}, processPassList);
                });

                $('#deletePass').click(function() {
                    var $btn = $passList.find('.modal-footer .btn-primary');
                    $btn.val('Удалить');

                    $btn.off('click');
                    $btn.click(function() {

                        var ids = getPassListData(),
                            msg = (ids.length > 1) ?  'Удалить абонементы' : 'Удалить абонемент';

                        if(confirm(msg)) {
                            processData('deletepass', {ids: JSON.stringify(ids)}, function(err, data) {
                                if(!err) {
                                    $passList.modal('hide');
                                    reload()
                                } else {
                                    $passList.modal('hide');
                                    alert('Что-то пошло не так, пожалуйста попробуйте еще раз.')
                                }
                            });
                        }
                    });

                    $passList.find('.modal-header h4').text($family+' '+$name+' - удаление абонемента');
                    processData('getpasses', {owner: $id, group: $groupId}, processPassList);
                });

                var $changePassOwnerModal = $('#changePassOwnerModal');
                $changePassOwnerModal.modal({show: false});

                $('#changePassOwner').click(function() {

                    var $container = $('#changePassOwnerModal .owners');

                    $container.empty();

                    $infoTable.find('tr:gt(0)').each(function() {
                        if($(this).index() != $index) {
                            var chld= $(this).children();
                            var name, family, id;

                            id = $(this).data('id');
                            name = $(chld[1]).text();
                            family = $(chld[2]).text();

                            $container.append($('<li><label class="radio"><input type="radio" name="owhers" data-id="'+id+'">'+family+' '+name+'</label></li>'));
                        }
                    });

                    $changePassOwnerModal.modal('show');
                });

                $changePassOwnerModal.find('.btn.btn-primary').click(function() {
                    var new_owner = $changePassOwnerModal.find('input:checked').data('id');
                    processData(
                        'changeowner',
                        {
                            cur_owner: $id,
                            new_owner: new_owner,
                            group: {{ group_detail.id }}
                        },
                        function(err, data) {
                            if(!err) {
                                reload()
                            } else {
                                console.log(err);
                            }
                        }
                    );
                });

                function processData(url, params, callback) {

                    $.ajax({
                        method: 'GET',
                        url: url,
                        data: params
                    }).error(function(err) {
                        callback(err, null)
                    }).done(function(data) {
                        callback(null, JSON.parse(data))
                    });
                }

                function processPassList(err, passes) {
                    if(!err) {
                        var $pl = $('#passListContainer');
                        $pl.empty();
                        if(passes.length > 0) {
                            for(var i= 0, j= passes.length; i<j; i++) {
                                var pass = passes[i];
                                console.log(pass);
                                $('<li><label class="checkbox"><input type="checkbox" data-val="'+pass.id+'">'+pass.pass_type.name+' c '+pass.start_date+'</label></li>').appendTo($pl);
                            }
                            $passList.modal('show');

                        } else {
                            alert('У ученика нету ни одного открытого абонемента.')
                        }
                    }
                }

                function getPassListData() {
                    var ids = [];
                    $('#passListContainer').children().find('input:checked').each(function() {
                        ids.push($(this).data('val'));
                    });

                    return ids;
                }

                function showStudentCard(event) {
                    var $this = $row,
                    $children = $this.children();

                    $('#stid').val($id);
                    $('#last_name').val($($children[1]).text());
                    $('#first_name').val($($children[2]).text());
                    $('#phone').val($($children[3]).text());
                    $('#e_mail').val($($children[4]).text());
                    $('#is_org').prop('checked', $($children[5]).text() == 'ОРГ' ? 'checked' : false);

                    var $submit = $studentForm.find('.btn.btn-primary');
                    $submit.off('click');
                    $submit.click(function() {
                        processData(editUrl, getStudentFormParams(), function(err, data) {
                            if(!err) {
                                reload()
                            } else {
                                console.log(err);
                            }
                        })
                    });

                    $submit.val('Сохранить');
                    $studentForm.modal('show');
                }

                $('#editStudentBtn').click(function() {

                    $('#last_name').val('');
                    $('#first_name').val('');
                    $('#phone').val('');
                    $('#e_mail').val('');
                    $('#is_org').prop('checked', false);

                    var $submit = $studentForm.find('.btn.btn-primary');

                    $submit.off('click');
                    $submit.click(function() {
                        processData(addUrl, getStudentFormParams(), function(err, data) {
                            if(!err) {
                                reload();
                                $studentForm.modal('hide');
                            } else {
                                console.log(err);
                            }
                        })
                    });

                    $submit.val('Добавить');
                    $studentForm.modal('show');
                });

                function getStudentFormParams() {
                    return {
                        id: {{ group_detail.id }},
                        stid: $id,
                        last_name: $('#last_name').val(),
                        first_name: $('#first_name').val(),
                        phone: $('#phone').val(),
                        e_mail: $('#e_mail').val(),
                        is_org: $('#is_org').prop('checked')
                    }
                }

                /**
                 * checkbox
                 */
                var $inputs = $('.info-fio input'),
                    checkAllValue = -1;

                $inputs.click(function() {
                    var $this = $(this),
                        $val = $this.val();

                    if($val == checkAllValue) {

                        if($this.prop('checked')) {
                            $inputs.each(function() {
                                $(this).prop('checked', 'checked');
                                $('#deleteStudentBtn').removeClass('disabled');
                            });
                        } else {
                            $inputs.each(function() {
                                $(this).prop('checked', false);
                            });
                        }
                    } else {
                        var $checked = $inputs.filter(':checked'),
                            $target = $inputs.filter('[value='+checkAllValue+']');
                        if($checked.length == $inputs.length-1 && !($target.prop('checked'))) {
                            $target.prop('checked','checked')
                        } else {
                            $target.prop('checked',false)
                        }
                    }

                    if($inputs.filter(':checked').length > 0) {
                        $('#deleteStudentBtn').removeClass('disabled');
                        $('#freezePassBtn').removeClass('disabled');
                    } else {
                        $('#deleteStudentBtn').addClass('disabled');
                        $('#freezePassBtn').addClass('disabled');
                    }
                });

                function reload() {
                    window.location.pathname = 'group?id={{ group_detail.id }}&date={{ control_data.constant.current_date_numval }}';
                }
            })();
        </script>

    {% endblock %}

{% endblock %}