{% block head %}
{% endblock %}

{% block body %}
    {% block content %}
        <table id="journal" class="table table-bordered table-striped">
            <tr>
                <th>
                    Фамилия Имя
                </th>
                {% for date in group_detail.calendar %}
                <th class="hover-able {% if date.canceled %}canceled{% endif %}">{{ date.date }}{% if date.canceled %} <span style="margin-right: -55px">- отмена</span>{% endif %}</th>
                {% endfor %}
            </tr>
            {% for student in group_detail.students %}
            <tr  data-stid="{{ student.person.id }}" class="student_row">
                <td class="hover-able fio_cell">{{ student.person.last_name }} {{ student.person.first_name }}</td>
                {% for date in student.calendar %}
                <td class="hover-able {{ date.color }} {% if date.canceled %}canceled{% endif %}" data-date="{{ date.date }}" data-pass="{{ date.pass }}" data-sign="{{ date.attended }}">
                    {% if date.pass and date.sign %}
                        <strong>
                            {% if date.sign > 0 %}
                                {{ date.sign }}
                            {% else %}
                                <span style="color: #f00000">{{ date.sign|stringformat:"+d"|slice:"1:" }}</span>
                            {% endif %}
                        </strong>
                    {% else %}
                        {{ date.sign }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <td style="border-top: 3px solid"><strong>Всего:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}" style="border-top: 3px solid">{{ money.day_total }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td><strong>Аренда залла:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}">{{ money.dance_hall }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td><strong>30% клубу:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}">{{ money.club }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td><strong>Преподавателям:</strong></td>
                {% for money in group_detail.moneys %}
                    <td class="hover-able {% if money.canceled %}canceled{% endif %}">{{ money.balance }} ({{ money.half_balance }})</td>
                {% endfor %}
            </tr>
        </table>

        <a href="" class="btn" onclick="window.open('/print?id={{ group_detail.id }}&type=full&subtype=lessons&date={{ control_data.constant.current_date_numval }}', '', 'width=1200, height=768, location=no')">Печать</a>

        <div style="border-top: 1px solid #dddddd; margin-top: 15px; padding-top: 10px;">
            <h4>Финансы</h4>
            <div>Всего: <strong>{{ group_detail.money_total.day_total }}</strong></div>
            <div>Аренда залла: <strong>{{ group_detail.money_total.dance_hall }}</strong></div>
            <div>30% клубу: <strong>{{ group_detail.money_total.club }}</strong></div>
            <div>Преподавателям: <strong>{{ group_detail.money_total.balance }}</strong> ({{ group_detail.money_total.half_balance }})</div>
        </div>

        <!-- Форма выбора абонемента -->
        <div id="pass_menu" class="modal hide">
            <div>
                   <div class="control-group">
                        <label class="checkbox debt">
                            <input type="checkbox" disabled>
                            <span>долг</span>
                            <input class="pass_menu-debt-inp" type="text" readonly>
                        </label>
                    </div> 
                {% for p in pass_detail %}
                    <div class="control-group">
                        <label class="radio">
                            <input type="radio" name="select_pass_type" value="{{ p.id }}" data-color="{{ p.html_color_class }}" data-prise="{{ p.prise }}">
                            <span>{{ p.name }}
                        </label>
                    </div>
                {% endfor %}
                <div class="control-group">
                    <label class="radio">
                        <input id="not_self_pay" type="radio" name="select_pass_type" value="-1">
                        <span>Списать с другого абонемента</span>
                    </label>
                    <div id="pass_menu_advanced" style="display: none">
                        <input id="pass_menu_fio" type="text" placeholder="Фамилия Имя">
                        <ul id="pass_menu_advanced_content"></ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Форма редактирования занятия -->
        <div id="lesson_window" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><span id="lesson_window_date"></span> - {{ group_detail.name }}</h4>
                <label id="cancel_lesson" class="checkbox">
                    <input id="cancel_lesson_inp" type="checkbox">
                    Отменено
                </label>
            </div>
            <div id="lesson_container" style="max-height: 425px;">
                <table id="lesson_content" class="table table-bordered table-striped">
                    <tr><th>Фамилия Имя</th><th>Присутствие</th></tr>
                    {% for student in group_detail.students %}
                        <tr>
                            <td class="student_data" data-stid="{{ student.person.id }}">{{ student.person.last_name }} {{ student.person.first_name }}</td>
                            <td class="lesson_data" {% if student.multi_pass %} data-multipass_id="{{ student.multi_pass.id }}" data-multipass_lessons="{{ student.multi_pass.lessons }}"{% endif %}></td>
                        </tr>

                    {% endfor %}
                </table>
                <div id="block_table"></div>
            </div>
            <div class="modal-footer">
                <button id="printBtn" class="btn" style="float: left">Печать</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                <button class="btn btn-primary save_data" data-context="lesson_window" data-dismiss="modal" aria-hidden="true">Сохранить</button>
            </div>
        </div>


        <!-- Форма восстановления отмененного занятия -->
        <div id="lesson_restore" class="modal hide fade">
            <div class="modal-header">
                <h4><span id="restore_lesson_window_date"></span> - {{ group_detail.name }} - занятие отменено</h4>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                <button id="restore_lesson_submit" class="btn btn-primary" data-context="lesson_window" data-dismiss="modal" aria-hidden="true">Восстановить</button>
            </div>
        </div>

    {% endblock %}

    {% block script %}
        <script type="text/javascript">
            (function() {
                var matrix = new window.View.Matrix(),
                    popoverLogic = new window.vidgetsLogic.Popover({{ group_detail.id }});


                /**
                 * Костыль для определения мультикарты
                 */
                function getPassTypeByName(name) {
                    var arr = [
                        {% for p in pass_detail %}
                            {
                               name: '{{ p.name }}',
                                id: {{ p.id }}
                            },
                        {% endfor %}
                    ];

                    for(var i= arr.length-1; i>=0; i++) {
                        if(name.toLowerCase() == arr[i].name.toLowerCase()) {
                            return arr[i];
                        }
                    }

                    return NaN;
                }


                /**
                 * Получить дату из колонки
                 * @param element
                 * @returns {*}
                 */
                function getDateFromColumn(element) {
                    return matrix.getColumn(element)[0].text();
                }

                /**
                 * Заполнить попап урока
                 * @param context
                 */
                function fillLessonsForm(context) {
                    var $date = $('#lesson_window_date'),
                        data = matrix.getColumn(context),
                        $targets = $('.lesson_data'),
                        $popover = $('.popover');

                    $targets.empty();
                    $targets.off();
                    $targets.removeAttr('val');

                    $popover.remove();

                    $date.text(getDateFromColumn(context));

                    var i = 1;

                    $targets.each(function() {
                        var $this = $(this);

                        $this.attr('class', data[i].attr('class'));
                        $this.addClass('lesson_data');

                        // Удаляем следы hover-эффекта от родительской таблицы
                        $this.removeClass('active');
                        $this.removeClass('highlight');

                        if(data[i].data('pass') === 'True') {
                            var attended = data[i].data('sign') == 'True',
                                $inp = $('<input type="checkbox" style="margin: 0" />');

                            $this.append($inp);

                            if(attended) {
                                $inp.prop('checked', 'checked');
                            }

                            $this.click(function(event) {

                                var $target = $(event.target);

                                if(!$target.is('input')) {
                                    var cb = $(this).children().first();

                                    if(cb.prop('checked')) {
                                        cb.removeAttr('checked');
                                    } else {
                                        cb.prop('checked', 'checked');
                                    }
                                }
                            });
                        } else {
                            $this.addClass('add-pass');
                            popoverLogic.init($this);

                            $this.click(function() {
                                popoverLogic.hide();
                                popoverLogic.show($(this));
                                if ($this.attr('data-multipass_id')) {
                                    $('.popover-content').find('.control-group').each(function() {
                                        var $label = $(this).find('label span');
                                        if($label.text().toLowerCase().indexOf('мультикарта') >= 0) {
                                            $label.html('<strong>Мультикарта ('+$this.data('multipass_lessons')+')</strong>')
                                        }
                                    });
                                }
                            });
                        }

                        i++;

                    });

                    var $blockTable = $('#block_table'),
                        $inp = $('#cancel_lesson_inp');

                    // Если стоит галочка в поле "Отменено"
                    if($inp.prop('checked')) {
                        $blockTable.show();
                    }

                    $inp.click(function() {
                        if($(this).prop('checked')) {
                            $('#lesson_container').css('position','relative');
                            popoverLogic.hide();
                            $blockTable.show();
                        } else {
                            $('#lesson_container').css('position','static');
                            $blockTable.hide();
                            $('.popover-opened').removeClass('popover-opened');
                        }
                    });

                    var printBtn = $('#printBtn');
                        printBtn.off('click');
                        printBtn.click(function() {
                            window.open('/print?id={{ group_detail.id }}&type=lesson&date='+getDateFromColumn(context).replace(/\./g, ''), '', 'width=500, height=800, location=no')
                        });
                }

                // ====================================================================================================
                // ====================================================================================================

                // Add DOM events
                var cl = $('.hover-able');
                cl.mouseenter(function(event) {

                    var $this = $(this);

                    if($this.hasClass('fio_cell')) {
                        if(!$this.hasClass('active')) $this.addClass('highlight');
                    } else {
                        if(!$this.hasClass('active')) matrix.highlightColumn($this);
                    }

                });

                cl.mouseleave(function() {

                    var $this = $(this);

                    if($this.hasClass('fio_cell')) {
                        if(!$(this).hasClass('active')) $this.removeClass('highlight');
                    } else {
                        if(!$(this).hasClass('active')) matrix.unHighlightColumn($(this));
                    }

                });

                // ====================================================================================================
                // ====================================================================================================

                var tr = $('#journal tr');
                tr.click(function(event) {

                    var $this = $(event.target);

                    if($this.hasClass('hover-able')) {

                        matrix.deactivateAll();

                        if(!$this.hasClass('fio_cell')) {
                            matrix.deactivateAll();
                            matrix.makeActive(event.target);
                        } else {
                            $this.addClass('highlight');
                            $this.addClass('active');
                        }

                    }
                });

                tr.click(function(event) {
                    var $this = $(event.target),
                        date = getDateFromColumn($this);

                    if($this.hasClass('canceled')) {

                        $('#lesson_restore').modal('show');
                        $('#restore_lesson_window_date').text(date);

                    } else if($this.hasClass('hover-able')) {

                        fillLessonsForm($this);

                        if (!$this.hasClass('fio_cell')) {
                            $('#lesson_window').modal('show');
                        }
                    }
                });

                $('#restore_lesson_submit').click(function() {
                    backDrop('show');
                    $.ajax({
                        method: 'GET',
                        url: 'restorelesson',
                        data: {
                            id: {{ group_detail.id }},
                            date: $('#restore_lesson_window_date').text().replace(/[^\w\.]/g,'')
                        }
                    }).error(function(err) {
                        alert('Возникла ошибка при восстановлении отмененного занятия');
                       backDrop('hide');
                    }).done(function(data) {
                        window.location.pathname = 'group?id={{ group_detail.id }}&date={{ control_data.constant.current_date_numval }}'
                    });
                });

                $('#lesson_window').on('hidden', function(){
                    popoverLogic.stopIntervals();
                });

                // ====================================================================================================
                // ====================================================================================================

                var $saveButton = $('.save_data');

                $saveButton.click(function() {
                    backDrop('show');
                    var data_source = $('#lesson_content').find('tr:gt(0)'),
                        json = {
                            group_id: {{ group_detail.id }},
                            date: $('#lesson_window_date').text(),
                            checked: [],
                            unchecked: [],
                            canceled: false
                        };

                    if(!$(this).data('context') === 'lesson_window') {
                        return;
                    }

                    if(!$('#cancel_lesson_inp').prop('checked')) {

                        data_source.each(function() {
                            var cont = $(this).children(),
                                lesson = $(cont[1]),
                                student_id = $(cont[0]).data('stid');

                            lesson_inp = lesson.find('input');

                            if(lesson.find('input').length > 0) {
                                if(lesson.find('input:checked').length > 0) {
                                    if(lesson.hasClass('add-pass')) {

                                        var values = {
                                            student_id: student_id,
                                            pass_type: lesson.attr('val'),
                                            from_another: (lesson.attr('val') == -1) ? lesson.attr('subval') : null,
                                            presence: true,
                                            debt: lesson.data('debt')
                                        };

                                        if(lesson.attr('data-multipass_id') && values.pass_type == getPassTypeByName('Мультикарта').id) {
                                            values.pass_id = lesson.data('multipass_id');
                                        }
                                        json.checked.push(values);
                                    } else {
                                        json.checked.push(student_id);
                                    }
                                } else if(lesson.attr('val') !== undefined) {
                                    json.checked.push({
                                        student_id: student_id,
                                        pass_type: lesson.attr('val'),
                                        presence: false
                                    });
                                } else {
                                    json.unchecked.push(student_id);
                                }
                            }
                        });

                    } else {
                        json.canceled = true
                    }

                    $.ajax({
                        method: 'GET',
                        url: 'processlesson',
                        data: {
                            data: JSON.stringify(json)
                        }
                    }).done(function() {
                        window.location.pathname = 'group?id={{ group_detail.id }}&date={{ control_data.constant.current_date_numval }}'
                    }).error(function(err) {
                        console.log(err);
                    });
                });

                function backDrop(param) {
                    var handlers = {
                        show: function() {
                            $('<div class="modal-backdrop">Тут должна быть анимация</div>').appendTo('body')
                        },
                        hide: function() {
                            $('modal-backdrop').remove()
                        }
                    };

                    handlers[param]();
                }

            })()
        </script>
    {% endblock %}
{% endblock %}