{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block style%}
    <link rel="stylesheet" href="{% static "css/group_detail.css" %}">
    <style>
        .profitgood {
         background-color: #33ff99 !important;
         }
         .profitbad {
         background-color: #fc4e3a !important;
         }
         .profitnormal {
         background-color: #9aceeb !important;
         }

         .textstrong {
             font-weight: bold;
         }

         {% for typ in passes_color_classes%}
             .{{typ.name}} { background-color: {{typ.val}}; }
         {% endfor %}

    </style>

    <script type="text/javascript" src="{% static "js/matrix.js" %}"></script>
    <script type="text/javascript" src="{% static "js/popover.js" %}"></script>
{% endblock %}
{% block script %}
            <script type="text/javascript" src="{% static "js/group_detail.js" %}"></script>

    <script type="text/javascript">

        (function() {
            "use strict";

            app.controller("GroupCtrl", ["$scope", function($scope) {
                $scope.data = {{group_detail | safe}};
                $scope.control_data = {{control_data | safe}};
                $scope.data.group_data.teachers_repr = (function(arr) {
                    var res = [];
                    for(var i=0, j=arr.length; i<j; i++) {
                        res.push(arr[i].last_name);
                    }

                    return res.join('-')

                })($scope.data.group_data.teachers);

                $scope.getProfit = function(val) {
                    if(val < 0) {
                        return 'profitbad';
                    } else if(val > 0) {
                        return 'profitgood';
                    } else {
                        return 'profitnormal';
                    }
                };

                $scope.salary = (function(data) {
                    var _buf = [];

                    function findList(name) {
                        for(var i=0, j=_buf.length; i<j; i++) {
                            if(_buf[i][0] == name) {
                                return _buf[i];
                            }
                        }

                        return null;
                    }
                    
                    for(var i=0, j=data.moneys.length; i<j; i++) {
                        var rec = data.moneys[i];
                    
                        var teachers = Object.keys(rec.salary);
                        for(var k=0, m=teachers.length; k<m; k++) {
                            var salList = findList(teachers[k]),
                                _teacher = teachers[k];
                            if(!salList) {
                                _buf.push([_teacher, rec.salary[_teacher]]);
                            } else {
                                salList.push(rec.salary[_teacher]);
                            }
                        }
                    }

                    return _buf

                })($scope.data);
                
                $scope.column = null;
                $scope.columnClick = function(index) {
                    if ($scope.row == null) {
                        $scope.column = index;
                    }
                }

                $scope.hoveredColumn = null;
                $scope.columnIndexCache = function(index) {
                    $scope.hoveredColumn = index;
                }

                $scope.hoveredRow = null;
                $scope.rowIndexCache = function(index) {
                    $scope.hoveredRow = index;
                }

                $scope.row = null;
                $scope.rowClick = function(index) {
                    if ($scope.column == null) {
                        $scope.row = index;
                    }
                }

            }]); 
        })();
    </script>
{% endblock %}
{% block content %}
            {% verbatim %}
    <div class="span10 well" ng-controller="GroupCtrl">
        <h4 class="row-fulid">
            {{data.group_data.dance_hall.station}} {{data.group_data.days}} {{data.group_data.time}}({{data.group_data.name}}) {{data.group_data.teachers_repr}}
        </h4>
        <div class="row-fulid">
            <div class="span12" style="margin-bottom: 10px">
                <div class="btn-group">
                    <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                        {{control_data.constant.current_date_str}}
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="dt in control_data.date_control"><a href="http://{%endverbatim%}{{host}}/group/{%verbatim%}{{dt.val}}">{{dt.name}}</a></li>
                    </ul>
                </div>
                <button class="btn btn-primary">Добавить</button>
                <button class="btn btn-primary">Удалить</button>
                <button class="btn btn-primary">Перенести занятия</button>
                <button class="btn btn-primary">Перевести в другую группу</button>
            </div>
        </div>
        <div class="row-fulid">
            <div ng-class="{span4: column!=null}" >
                <table class="table table-bordered region" ng-mouseleave="columnIndexCache(null); rowIndexCache(null)">
                    <tr>
                        <th>Фамилия Имя</th>
                        <th ng-repeat="date_rec in data.calendar" ng-click="columnClick($index)" ng-show="column == null || column==$index" ng-class="getProfit(date_rec.profit)">{{date_rec.date}}</th>
                    </tr>
                    <tr ng-repeat="student in data.students" ng-mouseover="rowIndexCache($index)" ng-show="row == null || row == $index" ng-init="rowIndex=$index">
                        <td ng-dblclick="rowClick($index)" ng-mouseover="columnIndexCache(null);" ng-class="{highlight: hoveredRow==rowIndex}">{{student.person.last_name}} {{student.person.first_name}}</td>
                        <td ng-class="{highlight: !column && (hoveredColumn==$index || hoveredRow==rowIndex)}" 
                            ng-mouseover="columnIndexCache($index)" 
                            ng-click="columnClick($index)" 
                            ng-show="column == null || column==$index" class="{{lesson.color}}" 
                            ng-repeat="lesson in student.calendar track by $index">
                            <strong ng-show="column==null">{{lesson.sign}}</strong>
                            <a href="" ng-show="column!=null && !lesson.pass">Добавить оплату</a>
                            <input type="checkbox" ng-model="lesson.attended" ng-show="column!=null && lesson.pass" />
                        </td>
                    </tr>
                    <tr ng-mouseover="rowIndexCache(null)">
                        <td ng-mouseover="columnIndexCache(null)" style="border-top: 3px solid"><strong>Всего за день</strong></td>
                        <td ng-class="{highlight: !column && hoveredColumn==$index}" 
                            style="border-top: 3px solid" 
                            ng-repeat="money_rec in data.moneys"
                            ng-show="column == null || column==$index">{{money_rec.day_total}}</td>
                    </tr>
                    <tr ng-mouseover="rowIndexCache(null)">
                        <td ng-mouseover="columnIndexCache(null)"><strong>Аренда зала</strong></td>
                        <td ng-mouseover="columnIndexCache($index)" 
                            ng-repeat="money_rec in data.moneys" 
                            ng-class="{highlight: !column && hoveredColumn==$index}"
                            ng-show="column == null || column==$index">{{money_rec.dance_hall}}</td>
                    </tr>
                    <tr ng-mouseover="rowIndexCache(null)">
                        <td ng-mouseover="columnIndexCache(null)"><strong>% клуба</strong></td>
                        <td ng-mouseover="columnIndexCache($index)"  
                            ng-repeat="money_rec in data.moneys" 
                            ng-class="{highlight: !column && hoveredColumn==$index}"
                            ng-show="column == null || column==$index">{{money_rec.club}}</td>
                    </tr>
                    <tr ng-mouseover="rowIndexCache(null)">
                        <td ng-mouseover="columnIndexCache(null)"><strong>Итого</strong></td>
                        <td ng-mouseover="columnIndexCache($index)"  
                            ng-repeat="money_rec in data.moneys" 
                            ng-class="{highlight: !column && hoveredColumn==$index}"
                            ng-show="column == null || column==$index">{{money_rec.balance}}</td>
                    </tr>
                    <tr ng-repeat="sal in salary">
                        <td ng-mouseover="columnIndexCache((($index > 0) ? $index-1:null))" 
                            ng-repeat="val in sal track by $index" 
                            ng-class="[{highlight: !column && hoveredColumn==$index-1 && $index>0}, {textstrong: $index==0}]"
                            ng-show="column == null || column==$index-1 || $index==0">{{val}}</td>
                    </tr>
                </table>
            </div>
            <div class="span6" ng-show="column!=null">
                <div class="row-fulid day-buttons">
                  <div class="span7">
                  <button class="btn btn-danger">Отменить занятие</button>
                  <button class="btn btn-primary" ng-click="columnClick(null)">Вернуться к ведомости</button>
                  </div>
                </div>
                <div class="row-fulid day-buttons">
                  <div class="span7">
                    <button class="btn btn-success">Сохранить и проставить пропуски</button>
                    <button class="btn btn-primary">Сохранить без пропусков</button>
                  </div>
                </div>
                <div class="row-fulid day-buttons">
                  <div class="span7">
                    <button class="btn btn-danger">Удалить все отметки</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
            {% endverbatim %}
{% endblock %}
