{% extends "base.html" %}
{% load i18n %}
{% block style%}
    <style>
        .profitgood {
         background-color: #33ff99 !important;
         }
         .profitbad {
         background-color: #fc4e3a !important;
         }
         .profitnormal {
         background-color: #9aceeb !important;
         }
    </style>

    <script type="text/javascript" src="/static/js/matrix.js"></script>
    <script type="text/javascript" src="/static/js/popover.js"></script>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="../static/js/group_detail.js"></script>
{% endblock %}
{% block content %}
            {% verbatim %}
    <div class="span10 well" ng-controller="GroupCtrl">
        <table class="table table-bordered region">
            <tr>
                <th>Фамилия Имя</th>
                <th ng-repeat="date in dates" ng-click="columnClick($index)" ng-show="column == null || column==$index" ng-class="getProfit(date.profit)">{{date.date}}</th>
            </tr>
            <tr ng-repeat="student in students" ng-show="row == null || row == $index">
                <td ng-dblclick="rowClick($index)">{{student.name}}</td>
                <td ng-click="columnClick($index)" ng-show="column == null || column==$index" ng-repeat="lesson in student.lessons track by $index">{{lesson}}</td>
            </tr>
        </table>
    </div>
            {% endverbatim %}
{% endblock %}
