{% extends "base.html" %}
{% block head%}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/main_page.css">

  <!-- Шаблон для региона -->
 <script id="region-template" type="text/template">
  <div class="region-title">
    <h3><%= title %><a href="">свернуть</a></h3>
  </div>
  <div class="region-content">
    <%= content %>
  </div>
 </script>

 <!-- Общий вид таблицы --> 
<script id="table-main" type="text/template">
    <h4><%= title %></h4>
    <table class="table table-striped table-hover">
    </table>
    <a href="">--показать все закрытые группы--</a>
 </script>

 <!-- Строка таблицы для группы -->
 <script id="group-table-row" type="text/template">
    <td><%= name %>
        <% if (!is_opened) {%>
            <br><strong style="margin-left: 5px;" class="text-error">ЗАКРЫТА</strong>
        <% } %>
    </td>
    <td><%= days %></td>
    <td><%= time %></td>
 </script>

 <!-- Строка таблицы для открытого урока -->
 <script id="mk-table-row" type="text/template">
    <td><%= date %></td>
    <td><%= dance_hall.station %></td>
    <td><%= time %></td>
 </script>

 {% endblock%}
 {% block body %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="#" class="brand">ТСК "Динамика". Электронный журнал</a>

                <div class="nav-collapse collapse">
                    <div class="pull-right dropdown header-right" style="position: relative">
                        <a class="navbar-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" type="button">{{ user.last_name }} {{ user.first_name }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile?uid={{ user.id }}" id="userProfile" tabindex="-1">Профиль</a></li>
                            <li><a href="logout" tabindex="-1">Выход</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div id="container" class="container-fulid">
    </div>

   <script type="text/javascript">
    (function() {
        "use strict"

        // Главная вьюшка на странице
        var PageRegion = Backbone.View.extend({
            template: $("#region-template").html(),

            tagName: "div",
            className: "row-fulid",

            render: function(_views) {
                var views = (_views instanceof Array) ? _views : [_views];
                
                _.each(views, $.proxy(function(item) {
                    this.$el.append(item.render().el);
                }, this));

                $('#container').append(this.$el);
                return this;
            }
        });

        var Group = Backbone.Model.extend({
            defaults: {
                url: '/group?id='
            }
        });
        var MK = Backbone.Model.extend({
            defaults: {
                url: '/mk?id='
            }
        });
        var Groups = Backbone.Collection.extend({model: Group});
        var MKs = Backbone.Collection.extend({model: MK});

        var TableRow = Backbone.View.extend({
            tagName: 'tr',
            template: function() {
                throw('Realize this function');
            },
            className: 'pointer',

            events: {
                "click": "on_click"
            },

            render: function() {
                this.$el.html(this.template(this.model.toJSON())); 
                return this;
            },
            
            on_click: function() {
                window.location.assign(this.model.get('url') + this.model.get('id'));
            }
        });

        var TableView = Backbone.View.extend({
            tagName: 'div',
            className: 'border',
            table_template: _.template($("#table-main").html()),
            row_class: TableRow,

            render: function(title, data) {
                if(this.collection.models.length > 0) {
                    this.$el.html(
                        this.table_template({title: this.options.title})
                    ); 
                    
                    var table = $(this.$el).find('table');

                    _.each(this.collection.models, $.proxy(function(item) {
                        var row = new this.row_class({model: item});
                        table.append(row.render().el);
                    }, this));
                }

                return this;
            }
        });

        var GroupTableRow = TableRow.extend({
            template: _.template($("#group-table-row").html())
        });

        var MkTableRow = TableRow.extend({
            template: _.template($("#mk-table-row").html())
        });

        var GroupTableView = TableView.extend({
            row_class: GroupTableRow
        });

        var MkTableView = TableView.extend({
            row_class: MkTableRow
        });

        new PageRegion().render([
            new GroupTableView({
                title: "Начинающие", 
                collection: new Groups({{ beginners | safe }})
            }).render(),

            new GroupTableView({
                title: "Продолжающие", 
                collection: new Groups({{ inter | safe}})
            }).render(),

            new GroupTableView({
                title: "Конкурсные", 
                collection: new Groups({{ advanced | safe}})
            }).render(),

            new GroupTableView({
                title: "Без уровня", 
                collection: new Groups({{ no_level | safe}})
            }).render(),

            new MkTableView({
                title: "Открытые уроки",
                collection: new MKs({{ mk | safe}})
            })
        ]);

    })(jQuery)
 </script>
{% endblock %}
