<input type="hidden" {{ attrs }} />
<div style="display: inline-block; vertical-align: top; border: 1px solid #CCCCCC; min-height: 130px">
    <h2>Внесенные донаборы</h2>
    <ul id="upd-list" style="list-style: none; margin: 0;">
        {% for val in values %}
            <li class="dateListElement"><input type="checkbox">{{ val }}</li>
        {% endfor %}
        <span>удалить</span>
        <a href="" class="del-date">выбранные</a> | 
        <a href="" class="del-date">все</a>
    </ul>
</div>

<div id="add-block" style="display: inline-block; border: 1px solid #CCCCCC; width: 250px; text-align: center;">
    <h2>Добавление донаборов</h2>
    <input id="add-block-inp" class="vDateField" type="text" style="margin: 5px 0;" />
    <p style="margin: 0 0 10px 0; padding: 0" class="help">Введите дату в формате "ДД.ММ.ГГГГ"</p>
    <div style="text-align: center">
        <button id="add-block-btn">Добавить</button>
    </div>
</div>

<script type="text/javascript">
    (function() {
        function updateFormField() {
            var lis = ul.children, res = '';
            for(var i= 0, j= lis.length; i<j; i++) {
                res += (lis[i].innerText + ';');
            }
            hiddenInp.value = res;
        }

        function parseToHtml(s) {
            var sharp = s.indexOf('#') >= 0 ? s.indexOf('#') : NaN,
                    dot = s.indexOf('.') >= 0 ? s.indexOf('.') : NaN;

            if (!isNaN(sharp) && !isNaN(dot)) {
                tagIndex = Math.min(sharp, dot)
            } else {
                tagIndex = Math.min(sharp || s.length, dot || s.length)
            }

            var tag = s.slice(0, tagIndex),
                    id = !isNaN(sharp) ? s.slice(sharp + 1, s.indexOf('.', sharp) + 1 > 0 ? s.indexOf('.', sharp) + 1 : s.length) : '',
                    classes = s.replace(new RegExp('^' + tag), '').replace(new RegExp('#[A-Za-z0-9]*'), '').slice(1).split('.');

            var buf = [];
            for(var i= classes.length-1; i>=0; i--) {
                if(classes[i] != '') {
                    buf.push(classes[i]);
                }
            }

            return {
                tag: tag,
                id: id,
                classes: buf
            }
        }

        function createElement(elemStr, innerValue, parrent) {
            var html = parseToHtml(elemStr);

            var elem = document.createElement(html.tag);
            elem.innerHTML = innerValue;
            elem.id = html.id;

            for(var i= 0, j= html.classes.length; i<j; i++) {
                elem.classList.add(html.classes[i]);
            }

            if(parrent) {
                parrent.appendChild(elem);
            }

            return elem;
        }

        var btn = document.querySelector('#group-upd'),
            btn2 = document.querySelector('#add-block-btn'),
            addBlock = document.querySelector('#add-block'),
            inp = document.querySelector('#add-block-inp'),
            ul = document.querySelector('#upd-list'),
            hiddenInp = document.querySelector('#id_updates');

        var toggleAddBlock = (function() {
            var shown = false;

            return function() {
                addBlock.style.display = shown ? 'none' : 'block';
                shown = !shown;
            }
        })();

        btn2.addEventListener('click', function(event) {
            event.preventDefault();

            var option = createElement('input');
            option.type = 'checkbox';
            option.classList.add('dateSelect');

            createElement('li', option.outerHTML + inp.value, ul);
            updateFormField();
        });

        ul.addEventListener('click', function(event) {
            console.log(event.target.checked);
        })

    })();
</script>
