{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/css/login_form.css" />
{% endblock %}

{% block content %}

  {% if form.errors %}
    <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
  {% endif %}

    <div class="container">
        <form action='.' method='post' class="form-signin">{% csrf_token %}
            <h3 class="form-signin-heading">ТСК "Динамика"</h3>
            <h4 class="form-signin-heading">электронный журнал</h4>
            <input id="username" name="username" type="text" placeholder="e-mail" class="input-block-level">
            <input id="password" name="password" type="password" placeholder="password" class="input-block-level">
            <input type="submit" class="btn btn-large btn-primary" value="Войти в систему" />
            <input type="hidden" name="next" value="{{ next|escape }}" />
        </form>
    </div>


{% endblock %}