{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {

            $('.group').click(function() {

                $('iframe').attr('src', $(this).attr('href'));

                return false;
            })

        });
    </script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="span2"><strong>{{ user }}</strong></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            {% if groups %}
                <div class="span2">
                    <div>Группы:</div>
                <ul>
                    {% for group in groups %}
                        <li><a class="group" href="/group?id={{ group.id }}">{{ group.name }}</a></li>
                    {% endfor %}
                </ul>
                </div>
                <div class="span10">
                    <iframe frameborder="0" width="100%px" height="900px"></iframe>
                </div>
            {% else %}

                Ты еще не ведешь ни одной группы
            {% endif %}
        </div>
    </div>
{% endblock %}