{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {

            $('.group').click(function() {
                $frame = $('iframe');
                $frame.attr('src', $(this).attr('href'));
                $('#dateControl').show();
                return false;
            })

        });
    </script>
{% endblock %}
{% block body %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="#" class="brand">ТСК "Динамика". Электронный журнал</a>

                <div class="nav-collapse collapse">
                    <div class="pull-right dropdown header-right" style="position: relative">
                        <a class="navbar-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" type="button">{{ user.last_name }} {{ user.first_name }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="logout" tabindex="-1">Выход</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div style="padding-top: 20px; margin: 35px" class="container-fluid">
        <div class="row-fluid">
            {% if groups %}
                <div class="span2">
                    <ul class="nav nav nav-list">
                        <li class="nav-header"><h5 style="margin: 0">Группы:</h5></li>
                        {% for group in groups %}
                            <li><a class="group" href="/group?id={{ group.id }}">{{ group.name }} - {{ group.days }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="span10">
                    <iframe frameborder="0" width="100%px" height="900px"></iframe>
                </div>
            {% else %}

                Ты еще не ведешь ни одной группы
            {% endif %}
        </div>
    </div>
{% endblock %}