{% extends "base.html" %}
{% block head%}
  <link rel="stylesheet" href="../static/css/main_page.css">

  <!-- Шаблон для региона -->
 <script id="region-template" type="text/template">
  <div class="region-title">
    <h3><%= title %><a href="">свернуть</a></h3>
  </div>
  <div class="region-content">
    <%= content %>
  </div>
 </script>

 <!-- Шаблон для строки таблицы -->
 <script id="group-table-row-template" type="text/template">
    <td><%= place %></td>
    <td><%= days %></td>
    <td><%= time %></td>
</script>

 {% endblock%}
 {% block body %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="#" class="brand">ТСК "Динамика". Электронный журнал</a>

                <div class="nav-collapse collapse">
                    <div class="pull-right dropdown header-right" style="position: relative">
                        <a class="navbar-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" type="button">{{ user.last_name }} {{ user.first_name }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile?uid={{ user.id }}" id="userProfile" tabindex="-1">Профиль</a></li>
                            <li><a href="logout" tabindex="-1">Выход</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div id="container" class="container-fluid">
    </div>

   <script type="text/javascript">
    (function() {
        "use strict"
        
        var test_groups = [
            {place: "Краснопресненская", days: "Пн-Ср", time: "19:00 - 20:30"},
            {place: "Волгоградский пр-т", days: "Вт-Чт", time: "19:00 - 20:30"},
            {place: "Краснопресненская", days: "Пн-Ср", time: "20:30 - 22:00"}
        ]    

        // Главная вьюшка на странице
        var PageRegion = Backbone.View.extend({
            template: $("#region-template").html(),

            className: "main-page-container",

            el: $('#container'),

            render: function(_views) {
                var views = (_views instanceof Array) ? _views : [_views];
                
                _.each(views, $.proxy(function(item) {
                    $(this.el).append(item.render().el);
                }, this));

                return this;
            }
        });

        var Group = Backbone.Model.extend({});

        var TableView = Backbone.View.extend({
            el: $('<table></table>', {
                class: 'groups-table'
            }),

            row : Backbone.View.extend({
                template: $("#group-table-row-template").html(),
                tagName: "tr",

                render: function() {
                    var t = _.template(this.template);
                    $(this.el).html(t(this.model.toJSON()));

                    return this;
                }
            }),

            data: Backbone.Collection.extend({
                model: Group
            }),

            render: function(data) {
                var table = new this.data(data);

                _.each(table.models, $.proxy(function(item) {
                    var row = new this.row({
                        model: item
                    });

                    $(this.el).append(row.render().el);
                }, this));
                console.log(this.el);
                return this;
            }
        });

        new PageRegion().render(new TableView().render(test_groups));

    })(jQuery)
 </script>
{% endblock %}
