{% extends "base.html" %}
{% block head %}
    {% if user.teacher %}
    <script type="text/javascript">
        $(document).ready(function() {

            var $frame = $('iframe');

            if(window.location.hash != '') {
                var param = window.location.hash.replace(/#g?/,'');
                if(!isNaN(parseInt(param))) {
                    $frame.attr('src', '/group?id='+param);
                } else {
                    $frame.attr('src', '/'+param);
                }

            }

            $('.group').click(function() {
                var group_id = $(this).data('id');

                if(group_id != undefined) {
                    window.location.hash = 'g'+group_id;
                } else {
                    window.location.hash = $(this).attr('href');
                }

                $frame.attr('src', $(this).attr('href'));
                $('#dateControl').show();

                return false;
            });

            $('#userProfile').click(function() {
                $frame.attr('src', $(this).attr('href'));
                $('.pull-right.dropdown.header-right.open').removeClass('open');
               return false;
            });
        });

        function frameResize() {
            var $frame = $('iframe'),
                h = 0;

            function action() {
                var _h = $frame.contents().height();
                if (h != _h) {
                    $frame.height(_h);
                    h = _h;
                }
            }

            action();

            setInterval(action, 500)
        }
    </script>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="#" class="brand">ТСК "Динамика". Электронный журнал</a>

                <div class="nav-collapse collapse">
                    <div class="pull-right dropdown header-right" style="position: relative">
                        <a class="navbar-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" type="button">{{ user.last_name }} {{ user.first_name }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile?uid={{ user.id }}" id="userProfile" tabindex="-1">Профиль</a></li>
                            <li><a href="logout" tabindex="-1">Выход</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% if user.teacher %}
    <div style="padding-top: 20px; margin: 35px" class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <ul class="nav nav nav-list">
                    <li class="nav-header"><h5 style="margin: 0">{% if groups.other %}Мои группы:{% else %}Группы:{% endif %}</h5></li>
                    {% for group in groups.self %}
                        <li><a class="group" data-id="{{ group.id }}" href="/group?id={{ group.id }}">{{ group.name }} - {{ group.days }} {{ group.time }}{% if group.orm.start_date > now %} с {{ group.orm.start_date|date:"d M" }}{% endif %}</a></li>
                    {% endfor %}
                    {% if groups.other %}
                    <li class="nav-header"><h5 style="margin: 0">Группы других преподавателей:</h5></li>
                        {% for group in groups.other %}
                            {% if group.name != "divider" %}
                            <li><a class="group" data-id="{{ group.id }}" href="/group?id={{ group.id }}"><strong>{{ group.t1 }}-{{ group.t2 }}</strong> {{ group.name }} - {{ group.days }} {{ group.time }}{% if group.orm.start_date > now %} с {{ group.orm.start_date|date:"d M" }}{% endif %}</a></li>
                            {% else %}
                            <li class="divider"></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <li class="nav-header"><h5 style="margin: 0">Клуб:</h5></li>
                    <li><a class="group" href="clubcards">Клубные карты</a></li>
                    <li><a class="group" href="history">Закрытые группы</a></li>
                    {% if user.sampo_admin %}
                        <li><a class="group" href="sampo">САМПО</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="span10">
                <iframe onload="frameResize();" frameborder="0" width="100%" height="900px" scrolling="no"></iframe>
            </div>
        </div>
    </div>
    {% elif user.sampo_admin %}
        <div style="padding-top: 20px; margin-top: 40px" class="container">
            {% include "sampo.html" %}
        </div>
    {% endif %}
{% endblock %}
