{% load is_type %}
{% load list_filters %}

{% block head %}
{% endblock %}

{% block body %}
	{% if level.label %}
		{% if level.hideable %}
			<li style="padding: 10px 5px; cursor: pointer; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd" class="text-info" onclick="toggleMenu('{{level.depth}}')">
				<h5 style="margin: 0">
					<div style="display: inline-block">
						<div class="arrow-right {{level.depth}}" style="border: 4px solid transparent; border-left: 6px solid #999999; width: 0; position: relative; top: -2px;"></div>
						<div class="arrow-top {{level.depth}}" style="border: 4px solid transparent; border-top: 6px solid #999999; width: 0; display: none; position: relative; top: 2px; margin-right: 2px;"></div>
					</div>
					{{ level.label }}
				</h5>
			</li>
		{% else %}
			<li style="margin-top: 10px;  cursor: pointer;" class="text-info">
				<h5 style="margin: 0">
					{{ level.label }}
				</h5>
			</li>
		{% endif %}
	{% endif %}
	{% for level_url in level.urls %}
		{% if level_url|is_type:'dict' %}
			{% with level=level_url template_name="menu_tree_template.html" %}	
				{% include template_name %}
			{% endwith %}
		{% else %}
			{% if level.hideable %}
				<li style="display: none; padding: 0 5px; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd" class="{{level.depth}}">
			{% else %}
				<li style="padding: 0 5px; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd">
			{% endif %}
			{% if level_url|is_type:'Groups' %}
				<a class="group" data-id="{{ level_url.id }}" data-type="group" href="/group?id={{ level_url.id }}">{{level_url.dance_hall.station}}<br>{{ level_url.name }}{% if level_url.start_date > now %} c {{ level_url.start_date_str }} {% endif %} - {{ level_url.days|joinby:','}} {{ level_url.time }}</a>

			{% elif level_url|is_type:'BonusClasses' %}
				<a class="group" data-id="{{ level_url.id }}" data-type="mk" href="/mk?id={{level_url.id}}">{{ level_url.date|date:"d.m" }} {{level_url.time}}<br>{{level_url.hall.station}}</a>

			{% elif level_url|is_type:'Url' %}
				<a class="group" href="{{level_url.url}}">{{level_url.label}}</a>
            {% elif level_url|is_type:'GroupLogic' %}
            <a class="group {% if level_url.rt_profit == -1 %} text-error {% elif level_url.rt_profit == 0%} text-info {% elif level_url.rt_profit == 1%} text-success {% endif %}" data-id="{{ level_url.orm.id }}" data-type="group" href="/group?id={{ level_url.orm.id }}"">{{level_url.orm.dance_hall.station}}<br>{{ level_url.orm.name }}{% if level_url.orm.start_date > now %} c {{ level_url.orm.start_date_str }} {% endif %} - {{ level_url.orm.days|joinby:','}} {{ level_url.orm.time }}</a>
			{% endif %}
			</li>
		{% endif %}
	{% endfor %}
{% endblock %}
