{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/shortcard/short_card.css" />
    <link rel="stylesheet" href="../static/comments/comments.css" />
    <style type="text/css">
        .center{
            text-align: center !important;
        }
        .fixed{
            width: 92px !important;
        }
        .cp{
            cursor: pointer;
        }

        .alert-custom{
            margin-left: 10px !important;
            margin-bottom: 0 !important;
            width: 200px !important;
            z-index: 9999 !important;
            display: none;
            padding-bottom: 6px !important;
            padding-top: 6px !important;
        }

        td.align-center {
            text-align: center;
        }
        td > .comment-label{
            margin-left: 7px !important;
        }
        td > .comment-edit{
            display: none;
        }
        td.comment:hover > .comment-main{
            display: none;
        }
        td.comment:hover > .comment-edit{
            display: inline;
        }
    </style>
    <script type="text/javascript" src="../static/js/logic.js"></script>
	<script type="text/javascript" src="../static/js/modal_popover.js"></script>
	<script type="text/javascript" src="../static/shortcard/short_card.js"></script>
	<script type="text/javascript" src="../static/comments/comments.js"></script>
	<script type="text/javascript" src="../static/js/mk2.js"></script>
	<script>

	    window.onload = function() {
	        // add global params
	        if(!window.pageParams) window.pageParams = {};
	        window.pageParams.group_id = {{ group_id }};

            // Some useful functions
            function sendDeleteRequest(_ids, t) {
                var ids = _ids instanceof Array ? _ids : [_ids];
                sendRequest({
		        		gid: window.pageParams.group_id,
		        		ids: JSON.stringify(ids)
		        	},
		        	'delete',
		        	function(err, data) {
		        		if(err) {
		        			console.log(err);
		        		} else {
		        			t.deleteRow(ids);
		        		}
		        	}
	        	)
            }

	        // create Table instance
	        var table = new window.Table('table');

            table.errorCallback = function(err) {
                windowAlert.error('Ошибка при удалении абонемента: <br>' + err.responseText);
            };

	        // create StudentCard
	        var studentCard = new window.StudentCard('#editStudent');

            // create ContextMenu
            var contextMenu = window.createShortcard().init();

            // create CommentWidget
            var commentWidget = window.createComment();

            var windowAlert = window.createWindowAlert();

            // Настройка сохранения коментов
            commentWidget.sendSaveRequest = function(event, comment, widgetData) {
                (function(event, comment, widgetData) {
                    sendRequest({
                        cid: comment.id,
                        stid: comment.student,
                        text: comment.text,
                        group: comment.group
                    }, 'save_comment', function(err, data) {
                        if(err) {
                            console.error(err);
                        } else {
                            comment.id = data.id;
                            if(comment.hasOwnProperty('newone')) {
                                widgetData.model.comment.unshift(comment);
                                //commentWidget.saveComment(comment);
                                commentWidget.setAddState();
                            }
                            comment.changeState('unavailable');
                            updateComments();
                        }
                    })
                })(event, comment, widgetData);
            };

            commentWidget.sendDeleteRequest = function(event, comment, widgetData) {
                sendRequest({
                    cid: comment.id
                }, 'delete_comment', function(err, data) {
                    if(!err) {
                        widgetData.model.comment = $.grep(widgetData.model.comment, function(elem, i) {
                            return !elem.deleted;
                        });
                        comment.remove();
                        updateComments();
                    }
                });
            };

            // save current model of table
            var tableContext = null;

            contextMenu.addElement('Изменить', function(event) {
                $('#editStudentBtn').trigger('click');
                $('#editStudent .btn-primary').val('Изменить');
                $('#editStudent').addClass('edit');

                for(var i in table.currentRow) {
                    if(studentCard.$data.hasOwnProperty(i)) {
                        studentCard.$data[i] = table.currentRow[i];
                    }
                }
            });

            contextMenu.addElement('Удалить', function() {
                if(!confirm("Восстановить удаляемую запись будет невозможно. Продолжить?")) {
                    return;
                }
                sendDeleteRequest(table.currentRow.id, table)
            });

            contextMenu.addElement('Коментарий', function() {
                commentWidget.setHeader('Коментарий - ' + table.currentRow.last_name + ' ' + table.currentRow.first_name);
                commentWidget.allComments = table.currentRow.comment;
                commentWidget.show({
                    student: table.currentRow.id,
                    group: window.pageParams.group_id,
                    model: table.currentRow
                });
            });

	        $('#editStudentBtn').click(function() {
                $('#editStudent .btn-primary').val('Добавить');
                $('#editStudent').removeClass('edit');
	        	studentCard.clear();
	        });

	        $('#deleteStudentBtn').click(function() {
	        	var to_delete = table.getSelectedRows('id');
	        	if(to_delete.length == 0 || !confirm('Восстановить удаляемые записи будет не возможно. Продолжить?')) {
	        	    return;
	        	}
	        	sendDeleteRequest(to_delete, table)
	        });

	        $(document).on('table-row-click', function(event, data, model) {
	            tableContext = model;
	            contextMenu.show(data.pageX, data.pageY);
	        });

	    	$(document).on('submit', function(event) {
	    		var form = $(document).data('modalpopover').$tip,
	    			data = {},
	    			errors = [];

                form.find('select').each(function() {
                    var fieldName = $(this).attr('name');
                    data[fieldName] = $(this).val();

                    if(data[fieldName] < 0) {
                        errors.push($(this).data('error'));
                    }

                    data[fieldName + '_str'] = $(this).find('option[value='+data[fieldName]+']').text();
                });

                if(errors.length > 0) {
                    var str = errors.join('<br>');
                    windowAlert.error('Ошибка при добавлении абонемента: <br>' + str);

                } else {
                    $(this).trigger('add-form-submit', data)
                }
	    	});

	    	$(document).click(function() {
	    	    tableContext = null;
	    	    contextMenu.hide();
	    	});

            function updateComments() {
                table.$element.find('tr:gt(0)').each(function() {
                    var model = $(this).data('model'),
                        val = model.comment[0],
                        td = $(this).find('td:last');

                    td.empty();
                    model.comment.length == 0 ? td.addClass('align-center') : td.removeClass('align-center');

                    var link = (function(l, v) {
                        switch(l) {
                            case 0: 
                                return $('<a class="comment-edit-main" href="#">Добавить</a>');
                            case 1: 
                                return $('<span class="comment-main">'+v.text+'</span><a href="#" class="comment-edit">'+v.text+'</a>');
                            default: 
                                return $('<span class="comment-main">'+v.text+'</span><a href="#" class="comment-edit">'+v.text+'</a><span class="label label-info comment-label">+'+(l - 1)+'</span>');
                        }
                    })(model.comment.length, val);

                    link.click(function(event) {
                        event.stopPropagation();
                        commentWidget.setHeader('Коментарий - ' + model.last_name + ' ' + model.first_name);
                        commentWidget.allComments = model.comment;
                        commentWidget.show({
                            student: model.id,
                            group: window.pageParams.group_id,
                            model: model
                        });
                    });
                    td.append(link);
                });
            }

            // Работу с коментариями нельзя сделать только внутри таблицы =(
            //$(document).on('comment-widget-hide', updateComments);
            updateComments();
	    }
    </script>
{% endblock %}
{% block body %}
	<a id="editStudentBtn" href="#editStudent" role="button" class="btn" data-toggle="modal">Добавить</a>
	<a id="deleteStudentBtn" href="#deleteStudent" role="button" class="btn" data-toggle="modal">Удалить</a>
	<table class="table table-bordered table-striped table-hover">
	<tr class="shotcard-disabled" data-index="0">
	    <th data-name="id" class="cp"><input class="row-selector" type="checkbox" value="-1" /></th>
	    <th data-name="cnt">№</th>
	    <th data-name="last_name" style="min-width: 100px;">Фамилия</th>
	    <th data-name="first_name" style="min-width: 100px;">Имя</th>
	    <th data-name="phone" style="min-width: 133px;">Телефон</th>
	    <th data-name="e_mail" style="min-width: 150px;">E-mail</th>
	    <th class="fixed" data-name="id">Присутствие</th>
	    <th data-name="pass">Приобретенный абонемент</th>
	    <th data-name="comment" style="min-width: 120px;">Коментарий</th>
	</tr>
	{% for record in students %}
	<tr data-index="{{ forloop.counter }}">
	    <td class="cp"><input class="row-selector" type="checkbox" value="{{ record.student.id }}" /></td>
	    <td>{{ forloop.counter }}</td>
	    <td>{{ record.student.last_name }}</td>
	    <td>{{ record.student.first_name }}</td>
	    <td>{{ record.student.str_phone }}</td>
	    <td>{% if record.student.e_mail %}{{ record.student.e_mail }}{% endif %}</td>
	    <td class="center cp no-click"><input class="attendance" type="checkbox" value="{{ record.student.id }}" {% if record.attendance %}checked="checked"{% endif %} /></td>
	    <td class="center no-click">
            {% if record.group %}
                {{ record.group.repr }}
                {% if record.group.editable %}
                    <span>(<a class="del" href="#">удалить</a>)</span>
                {% endif %}
            {% else %}
			    <a data-class="add" class="add" href="#">Добавить</a>
            {% endif %}
		</td>
		<td class="comment no-click" data-mem='{{ record.comments }}'></td>
    </tr>
	{% endfor %}
<!-- {# 	{% for student in group_detail.students %}
	<tr data-id="{{ student.person.id }}" data-active="{{ student.person.active }}">
	    <td class="info-fio shotcard-disabled"><input class="shotcard-disabled" type="checkbox" value="{{ student.person.id }}" /></td>
	    <td>{{ forloop.counter }}</td>
	    <td style="min-width: 100px;">{{ student.person.last_name }}</td>
	    <td style="min-width: 100px;">{{ student.person.first_name }}</td>
	    <td style="min-width: 133px;">{{ student.person.str_phone }}</td>
	    <td style="min-width: 150px;">{{ student.person.e_mail }}</td>
	    <td>{% if student.person.org %}ОРГ{% endif %}</td>
	    <td>{{ student.pass_remaining }}
	        {% if student.debt %}
	            <strong class="text-error">ДОЛГ ({{ student.debt }})</strong>
	        {% endif %}
	    </td>
	    <td class="comment" style="min-width: 120px; line-height: 1">
	        {% if student.person.active == 0 %}
	            <strong class="text-error">УДАЛЕН</strong>
	        {% else %}
	            {% if student.last_comment %}{{ student.last_comment.text }}{% endif %}
	        {% endif %}
	    </td>
	</tr>
	{% endfor %} #} -->
	</table>

	<!-- Форма "Карточка ученика" -->
    <div id="editStudent" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 style="display: inline-block" class="ib">Карточка ученика</h3>
            <div class="alert ib alert-custom alert1">обработка данных</div>
            <div class="alert alert-success ib alert-custom alert2">сохранено</div>
        </div>
        <div class="form-horizontal" id="editStudentContent">
            <input type="hidden" name="id" class="data" id="stid" />
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="last_name">Фамилия</label>
                    <div class="controls">
                        <input type="text" class="data" name="last_name" id="last_name" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="first_name">Имя</label>
                    <div class="controls">
                        <input type="text" class="data" name="first_name" id="first_name" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="phone">Тел.</label>
                    <div class="controls">
                        <input type="tel" class="data" name="phone" id="phone" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="e_mail">E-mail</label>
                    <div class="controls">
                        <input type="email" class="data" name="e_mail" id="e_mail" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Отмена</button>
                <input class="btn btn-primary" type="submit" value="Добавить" />
            </div>
        </div>
    </div>

<div class="form hidden">
    <div>
        <select name="gid" data-error="Не выбрана группа">
            <option data-value="null" value="-1">-- выберите группу --</option>
            {% for group in groups %}
            <option data-value="{{group.repr}}" value={{group.id}}>{{group.repr}}</option>
            {% endfor %}
        </select>
        <select name="ptid" data-error="Не выбран абонемент">
            <option data-value="null" value="-1">-- выберите абонемент --</option>
            {% for pt in pass_types %}
            <option data-value="{{pt.name}}" value={{pt.id}}>{{pt.name}}</option>
            {% endfor %}
        </select>
        <button class="submit btn btn-primary" onclick="$(document).trigger('submit')">Добавить</button>
    </div>
</div>

{% endblock %}
