{% block head %}
    <link rel="stylesheet" href="../static/css/sampo.css" xmlns="http://www.w3.org/1999/html"/>
    <script type="text/javascript" src="../static/js/sampo.js"></script>
    <script type="text/javascript">
        window.onload = function() {

            function stopClickEvent(event) {
                return false;
            }

            var $date = $('input#date');

            $date.datepicker({
                format: 'dd.mm.yyyy'
            }).on('changeDate', function () {
                $(this).datepicker('hide');
                $('#date-submit').focus();
            });

            var journalTab = window.Factories.createTab($('#tab-journal'), 'changeDate'),
                reportTab = window.Factories.createTab($('#tab-report'), 'change');

            var paymentReport = window.Factories.createReport($('#payments'), 'payments'),
                dayReport = window.Factories.createReport($('#short_report_table', 'day_report')),
                monthReport = window.Factories.createReport($('#month-report'), 'month-report');

            journalTab.addListener(paymentReport);
            journalTab.addListener(dayReport);
            reportTab.addListener(monthReport);
        }
    </script>
{% endblock %}
{% block body %}
    <div class="row-fluid">
        {% if user.is_superuser %}
        <div class="row-fluid">
            <div class="span12">
                <ul class="nav nav-tabs" id="nav-top">
                    <li class="active"><a id="tab-journal" href="#day-journal" data-toggle="tab">Ведомости за <input id="date" name="date" class="control input-small nav-input" type="text" value="{{ date }}"></a></li>
                    <li>
                        <a id="tab-report" href="#month-report" data-toggle="tab">Отчет за
                            <select id="report-control" class="input-medium nav-input control" name="mth">
                                <option value="122015">Декабрь 2015</option>
                                <option value="012016">Январь 2016</option>
                                <option value="022016">Февраль 2016</option>
                            </select>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        <div {% if user.is_superuser %}id="container"{% endif %} class="row-fluid tab-content">
            <div id="day-journal" class="tab-pane active">
                <div class="span6 offset1">
                    <ul class="nav nav-tabs {% if user.is_superuser %}su-nav-tabs{% endif %}" id="navTab">
                        <li class="active"><a id="journalNav" href="#cash-add" data-toggle="tab">Внесение</a></li>
                        <li><a id="infoNav" href="#cash-del" data-toggle="tab">Списание</a></li>
                        <li><a id="infoNav" href="#pass" data-toggle="tab">Абонементы</a></li>
                        {% if user.is_superuser %}
                        <!--li>
                            <form class="form-inline">
                                <label>
                                    Дата:
                                    <input id="date" name="date" class="input-small" type="text" value="{{ date }}">
                                </label>
                               <input type="submit" id="date-submit" class="btn" value="OK">
                            </form>
                        </li-->
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div id="cash-add" class="tab-pane active">
                            <form id="cash-add-payment" class="form-horizontal money-action">
                                <div class="control-group">
                                    <label class="control-label" for="inputTime">Время</label>
                                    <div class="controls">
                                        <input class="input-small time" id="inputTime" name="time" type="time" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputMoney">Сумма</label>
                                    <div class="controls">
                                        <input class="input-small" id="inputMoney" name="count" type="number" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn submitBtn btn1">Внести</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="cash-del" class="tab-pane">
                            <form id="cash-wrt-payment" class="form-horizontal money-action">
                                <div class="control-group">
                                    <label class="control-label" for="inputTime">Время</label>
                                    <div class="controls">
                                        <input class="input-small time" id="inputTime" name="time" type="time" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputMoney">Сумма</label>
                                    <div class="controls">
                                        <input class="input-small" id="inputMoney" name="count" type="number" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputMoney">Причина</label>
                                    <div class="controls">
                                        <input class="input-large" id="inputMoney" name="reason" type="text" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn submitBtn btn2">Списать</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="pass" class="tab-pane">
                            <div>
                                <form class="form-search to_fd center">
                                    <div class="input-prepend">
                                        <span style="font-size: 12pt;" class="add-on">Поиск</span>
                                        <input class="input-large" id="prependedInput" size="16" type="text">
                                    </div>
                                    <button id="addButton" style="color: #2e8b57" type="button" class="btn extra_big_font">+</button>
                                </form>
                                <ul id="sampo_passes" class="form-horizontal to_fd offset3">
                                    {% for pass in passes %}
                                        <li><label class="inline checkbox">
                                          <input type="checkbox" value="{{ pass.id }}" {% if pass.used_today %}checked{% endif %}> {{ pass.surname }} {{ pass.name }}
                                        </label></li>
                                    {% endfor %}
                                </ul>
                                <div id="addSampoPass" style="display: none">
                                    <form class="form-horizontal money-action">
                                        <div class="control-group">
                                            <label class="control-label" for="inputTime">Время</label>

                                            <div class="controls">
                                                <input class="input-small time" id="inputTime" name="time" type="time"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="inputSurname">Фамилия</label>

                                            <div class="controls">
                                                <input class="input-large" id="inputSurname" name="surname" type="text"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="inputName">Имя</label>

                                            <div class="controls">
                                                <input class="input-large" id="inputName" name="name" type="text"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="inputMoney">Сумма</label>
                                            <div class="controls">
                                                <input class="input-small" id="inputMoney" name="count" type="number" />
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <button type="submit" class="btn btn-primary submitBtn btn3">Внести</button>
                                                <button id="cancelButton" class="btn offset1">Список абонементов</button>
                                            </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4">
                <ul class="nav nav-tabs" id="navTab2">
                    <li class="active"><a href="#full_report" data-toggle="tab">Журнал</a></li>
                    <li><a href="#short_report" data-toggle="tab">Отчет</a></li>
                </ul>
                <div class="tab-content">
                    <div id="full_report" class="tab-pane active">
                        <table id="payments" class="table table-bordered table-striped table-hover">
                            <thead>
                               <tr>
                                    <th>Время</th>
                                    <th>Сумма/Абонемент</th>
                               </tr>
                            </thead>
                            <tbody>
                            {% for payment in today_payments %}
                                <tr>
                                     <td>{{ payment.date }}</td>
                                     <td class="{{ payment.info.type }}">
                                        <div class="row-fluid">
                                            <div class="span10">
                                                {{ payment.info.payment }}
                                                {% if payment.info.comment %}
                                                    <div class="muted">{{ payment.info.comment }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="span1 minus" data-id="{{ payment.info.id }}">
                                                <span class="text-error">-</span>
                                            </div>
                                        </div>
                                     </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="short_report" class="tab-pane">
                        <table id="short_report_table" class="table table-bordered table-stripped">
                            <tbody>
                                <tr>
                                    <td class="center">
                                        Внесено: <strong class="text-success">{{ totals.add }}</strong>
                                    </td>
                                    <td class="center">
                                        Списано: <strong class="text-error">{{ totals.write_off }}</strong>
                                    </td>
                                    <td class="center">
                                        ИТОГО:
                                        {% if totals.delta > 0 %}
                                            <strong class="text-success">{{ totals.delta }}</strong>
                                        {% elif totals.delta < 0 %}
                                            <strong class="text-error">{{ totals.delta }}</strong>
                                        {% else %}
                                            <strong>0</strong>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="center">Отмечено абонементов: <strong>{{ pass_signs_l }}</strong></td>
                                </tr>
                                {% for sign in pass_signs %}
                                    <tr>
                                        <td>{{ sign.date }}</td>
                                        <td colspan="2">{{ sign.info.payment }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            <div id="month-report" class="tab-pane">
                <table id="month-report" class="table table-bordered table-stripped">
                    <tr>
                        <th>Дата</th>
                        <th>01</th>
                        <th>02</th>
                        <th>03</th>
                        <th>04</th>
                        <th>05</th>
                        <th>06</th>
                        <th>07</th>
                        <th>08</th>
                        <th>09</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th>19</th>
                        <th>20</th>
                        <th>21</th>
                        <th>22</th>
                        <th>23</th>
                        <th>24</th>
                        <th>25</th>
                        <th>26</th>
                        <th>27</th>
                        <th>28</th>
                        <th>29</th>
                        <th>30</th>
                        <th>31</th>
                    </tr>
                    <tr>
                        <td>Сампо</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                    </tr>
                    <tr>
                        <td>Абонементы</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                    </tr>
                    <tr>
                        <td>Списано</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                    </tr>
                    <tr>
                        <td>Нестеров Василий</td>
                        <td>+</td>
                        <td>-</td>
                        <td>+</td>
                        <td>-</td>
                        <td>-</td>
                        <td>+</td>
                        <td>-</td>
                        <td>+</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>+</td>
                        <td>+</td>
                        <td>-</td>
                        <td>+</td>
                        <td>+</td>
                        <td>+</td>
                        <td>+</td>
                        <td>+</td>
                        <td>+</td>
                        <td>-</td>
                        <td>+</td>
                        <td>-</td>
                        <td>+</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Кудрявцев Михаил</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>+</td>
                        <td>+</td>
                        <td>+</td>
                        <td>-</td>
                        <td>+</td>
                        <td>+</td>
                        <td>+</td>
                        <td>-</td>
                        <td>+</td>
                        <td>+</td>
                        <td>-</td>
                        <td>-</td>
                        <td>+</td>
                        <td>+</td>
                        <td>+</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>+</td>
                        <td>-</td>
                        <td>-</td>
                        <td>+</td>
                        <td>-</td>
                        <td>-</td>
                        <td>+</td>
                        <td>-</td>
                        <td>+</td>
                        <td>-</td>
                    </tr>
                </table>
            </div>
      </div>
    </div>
{% endblock %}
