{% block head %}
    <link rel="stylesheet" href="../static/css/sampo.css" xmlns="http://www.w3.org/1999/html"/>
    <script type="text/javascript" src="../static/js/jsplugins.js"></script>
    <script type="text/javascript" src="../static/js/sampo.js"></script>
    <script type="text/javascript">

        

        window.onload = function() {

            function stopClickEvent(event) {
                return false;
            }

            var $date = $('input#date');

            $date.datepicker({
                format: 'dd.mm.yyyy'
            }).on('changeDate', function () {
                $(this).datepicker('hide');
                $('#date-submit').focus();
            });

            var journalTab = window.Factories.createTab($('#tab-journal'), 'changeDate'),
                reportTab = window.Factories.createTab($('#tab-report'), 'change');

            var paymentReport = window.Factories.createReport($('#payments'), 'payments'),
                dayReport = window.Factories.createReport($('#short_report_table'), 'day_report'),
                monthReport = window.Factories.createReport($('#month-report'), 'month-report');
            
            // Механизм обновления журнала оплат
            paymentReport.refresh = function(_data) {
              var data = _data.payments;
              var tbody = this.table.find('tbody').empty();

              for(var i= 0, j= data.length; i<j; i++) {
                var payment = data[i];

                var row = $('<tr></tr>'), 
                  td = $('<td class="'+ payment.info.type +'"></td>');

                $('<td>'+ payment.date +'</td>').appendTo(row);

                td.append(
                  '<div class="row-fluid">' + 
                    '<div class="span10">'+ 
                      payment.info.payment +
                      ((payment.info.comment != undefined) ? '<div class="muted">'+ payment.info.comment +'</div>' : '') + 
                    '</div>' +
                    '<div class="span1 minus" data-id="'+ payment.info.id +'"><span class="text-error">-</span></div>' +
                  '</div>'
                );

                row.append(td);
                
                this.table.append(row);
              }
            }
            
            paymentReport.table.click($.proxy(function(event) {
              var $target = $(event.target);

              if($target.hasClass('minus') || $($target.parent()).hasClass('minus')) {
                $target = $target.hasClass('minus') ? $target : $($target.parent());

                $.ajax({
                  data: {
                    action: 'del',
                    pid: $target.data('id'),
                    date: this.parent.value
                  }
                }).success($.proxy(function(data) {
                  this.parent.notifyAboutChange(JSON.parse(data));
                }, this))
              }
            }, paymentReport));

            // Механизм обновления отчетика с суммами
            dayReport.refresh = function(data) {
              var totals = $.map(data.payments, function(elem) {
                return parseInt(elem.info.payment); 
              });

              var pTotal = $.grep(totals, function(elem) {
                return elem > 0;
              }).reduce(function(accum, elem) {
                return accum + elem; 
              }, 0); 

              var nTotal = $.grep(totals, function(elem) {
                return elem < 0;
              }).reduce(function(accum, elem) {
                return accum + elem; 
              }, 0);

             var total = pTotal + nTotal;
              
              this.table.empty();
              this.table.append(
                '<tr>' +
                  '<td class="center">Внесено:<br> <strong class="text-success">'+ pTotal +'</strong></td>' + 
                  '<td class="center">Списано:<br> <strong class="text-error">'+ Math.abs(nTotal) +'</strong></td>' + 
                  '<td class="center">Внесено:<br> <strong class="'+ ((total > 0) ? "text-success" : ((total < 0) ? "text-error" : '')) +'">'+ total +'</strong></td>' + 
                '</tr>'
              );

            };

            journalTab.addListener(paymentReport);
            journalTab.addListener(dayReport);
            reportTab.addListener(monthReport);

            $('#report-control').mouseup(function(event) {
                event.stopPropagation();
                return false;
            });

            $('#inputTime').timepicker({
                update: true
            });

            $('#inputTime2').timepicker({
                update: true
            });
            
            $('.amount').positivenumber();
            
            // ------------------- Форма внесения наличных за занятие --------------
            var cashAdd = window.Factories.createForm($('#cash-add-payment')),
              
            // ------------------- Форма внесения списаний из кассы ----------------
              cashWrt = window.Factories.createForm($('#cash-wrt-payment')),
            
            // ------------------- Форма добавления новых абонементов для сампо ----
              sampoPass = window.Factories.createForm($('#add-sampo-pass'));


            journalTab.addListener(cashAdd);
            journalTab.addListener(cashWrt);
            journalTab.addListener(sampoPass);

            // ------------------- Поведение вкладки "Абонементы" ------------------
            // Изменить значение св-ва display у набора виджетов на противоположное
            function toggleWidgets(widgets) {
                $.map(widgets, function(widget) {
                    $(widget).toggle(); 
                });
            }
            

            // ------------------ Поведение отмечалки сампо -----------------------
            var passStateReport = window.Factories.createForm($('#sampo_passes'));

            var passListTimePicker = $('#pass-list-time').timepicker({update: true});

            journalTab.addListener(passStateReport);

            passStateReport.html.click($.proxy(function(event) {
              var $target = $(event.target);

              if(!$target.is('input')) {
                return;
              }

              this.data = {
                date: this.parent.value,
                pid: $target.val(),
                time: passListTimePicker.val()
              };
              
              this.formParams.action = $target.prop('checked') ? 'check' : 'uncheck';

              this.submit();
            }, passStateReport));
                                                                  
            passStateReport.refresh = function(val) {
                
                if(!val.hasOwnProperty('date')) {
                  return;
                }

                this.formParams.date = val.date;
                this.clear();
                
                try {
                  if(this.defaultDate != this.formParams.date) {
                    passListTimePicker.timepicker('stopUpdate');
                    passListTimePicker.val("");
                  } else {
                    passListTimePicker.timepicker('startUpdate');
                  }
                } catch(e) {
                }
              }

            $('#inputTime3').timepicker({
                update: true
            });

            $('#addButton').click(function() {
                toggleWidgets(['#sampo-passes-list', '#addSampoPass']);
            });

            $('#cancelButton').click(function() {
                toggleWidgets(['#sampo-passes-list', '#addSampoPass']);
                return false;
            });

        }
    </script>
{% endblock %}
{% block body %}
    <div class="row-fluid">
        {% if user.is_superuser %}
        <div class="row-fluid">
            <div class="span12">
                <ul class="nav nav-tabs" id="nav-top">
                    <li class="active"><a id="tab-journal" href="#day-journal" data-toggle="tab">Ведомости за <input id="date" name="date" class="control input-small nav-input" type="text" value="{{ date }}"></a></li>
                    <li>
                        <span id="tab-report" href="#month-report" data-toggle="tab">Отчет за
                            <select id="report-control" class="input-medium nav-input control" name="mth">
                                <option value="122015">Декабрь 2015</option>
                                <option value="012016">Январь 2016</option>
                                <option value="022016">Февраль 2016</option>
                            </select>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        <div {% if user.is_superuser %}id="container"{% endif %} class="row-fluid tab-content">
            <div id="day-journal" class="tab-pane active">
                <div class="span6 offset1">
                    <ul class="nav nav-tabs {% if user.is_superuser %}su-nav-tabs{% endif %}" id="navTab">
                        <li class="active"><a id="journalNav" href="#cash-add" data-toggle="tab">Внесение</a></li>
                        <li><a id="infoNav" href="#cash-del" data-toggle="tab">Списание</a></li>
                        <li><a id="infoNav" href="#pass" data-toggle="tab">Абонементы</a></li>
                        {% if user.is_superuser %}
                        <!--li>
                            <form class="form-inline">
                                <label>
                                    Дата:
                                    <input id="date" name="date" class="input-small" type="text" value="{{ date }}">
                                </label>
                               <input type="submit" id="date-submit" class="btn" value="OK">
                            </form>
                        </li-->
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div id="cash-add" class="tab-pane active">
                          <form id="cash-add-payment" data-date="{{date}}" data-action="add" data-type="cash-add" class="form-horizontal money-action">
                                <div class="control-group">
                                    <label class="control-label" for="inputTime">Время</label>
                                    <div class="controls">
                                        <input class="input-small time" id="inputTime" name="time" type="text" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputMoney">Сумма</label>
                                    <div class="controls">
                                        <input class="input-small amount" id="inputMoney" name="count" type="text" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn submitBtn btn1">Внести</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="cash-del" class="tab-pane">
                          <form id="cash-wrt-payment" data-action="add" data-type="cash-wrt" data-date="{{date}}" class="form-horizontal money-action">
                                <div class="control-group">
                                    <label class="control-label" for="inputTime2">Время</label>
                                    <div class="controls">
                                        <input class="input-small time" id="inputTime2" name="time" type="text" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputMoney2">Сумма</label>
                                    <div class="controls">
                                        <input class="input-small amount" id="inputMoney2" name="count" type="text" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="reason">Причина</label>
                                    <div class="controls">
                                        <input class="input-large" id="reason" name="reason" type="text" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn submitBtn btn2">Списать</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="pass" class="tab-pane">
                            <div>
                                <div id="sampo-passes-list">
                                    <form class="form-search to_fd center">
                                        <div class="input-prepend">
                                            <span style="font-size: 12pt;" class="add-on">Поиск</span>
                                            <input class="input-large" id="prependedInput" size="16" type="text">
                                            <span id="pass-list-time-label" style="font-size: 12pt;" class="add-on">Время</span>
                                            <input class="input-small time" id="pass-list-time" name="time" type="text"/>
                                        </div>
                                        <button id="addButton" type="button" class="btn">Добавить</button>
                                    </form>
                                    <ul id="sampo_passes" class="form-horizontal to_fd offset3" data-date={{date}}>
                                        {% for pass in passes %}
                                            <li><label class="inline checkbox">
                                                <input type="checkbox" value="{{ pass.id }}" {% if pass.used_today %}checked{% endif %}> {{ pass.surname }} {{ pass.name }}
                                            </label></li>
                                        {% endfor %}
                                    </ul>
                                  </div>
                                <div id="addSampoPass" style="display: none">
                                  <form class="form-horizontal money-action" id="add-sampo-pass" data-action="add" data-type="add-sampo-pass" data-date="{{date}}">
                                        <div class="control-group">
                                            <label class="control-label" for="inputTime3">Время</label>

                                            <div class="controls">
                                                <input class="input-small time" id="inputTime3" name="time" type="text"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="inputSurname">Фамилия</label>

                                            <div class="controls">
                                                <input class="input-large" id="inputSurname" name="surname" type="text"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="inputName">Имя</label>

                                            <div class="controls">
                                                <input class="input-large" id="inputName" name="name" type="text"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="inputMoney3">Сумма</label>
                                            <div class="controls">
                                                <input class="input-small amount" id="inputMoney3" name="count" type="text" />
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <button type="submit" class="btn btn-primary submitBtn btn3">Внести</button>
                                                <button id="cancelButton" class="btn offset1">Список абонементов</button>
                                            </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4">
                <ul class="nav nav-tabs" id="navTab2">
                    <li class="active"><a href="#full_report" data-toggle="tab">Журнал</a></li>
                    <li><a href="#short_report" data-toggle="tab">Отчет</a></li>
                </ul>
                <div class="tab-content">
                    <div id="full_report" class="tab-pane active">
                        <table id="payments" class="table table-bordered table-striped table-hover">
                            <thead>
                               <tr>
                                    <th>Время</th>
                                    <th>Сумма/Абонемент</th>
                               </tr>
                            </thead>
                            <tbody>
                            {% for payment in today_payments %}
                                <tr>
                                     <td>{{ payment.date }}</td>
                                     <td class="{{ payment.info.type }}">
                                        <div class="row-fluid">
                                            <div class="span10">
                                                {{ payment.info.payment }}
                                                {% if payment.info.comment %}
                                                    <div class="muted">{{ payment.info.comment }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="span1 minus" data-id="{{ payment.info.id }}">
                                                <span class="text-error">-</span>
                                            </div>
                                        </div>
                                     </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="short_report" class="tab-pane">
                        <table id="short_report_table" class="table table-bordered table-stripped">
                            <tbody>
                                <tr>
                                    <td class="center">
                                      Внесено:<br> <strong class="text-success">{{ totals.add }}</strong>
                                    </td>
                                    <td class="center">
                                      Списано:<br> <strong class="text-error">{{ totals.write_off }}</strong>
                                    </td>
                                    <td class="center">
                                      ИТОГО: <br>
                                        {% if totals.delta > 0 %}
                                            <strong class="text-success">{{ totals.delta }}</strong>
                                        {% elif totals.delta < 0 %}
                                            <strong class="text-error">{{ totals.delta }}</strong>
                                        {% else %}
                                            <strong>0</strong>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="center">Отмечено абонементов: <strong>{{ pass_signs_l }}</strong></td>
                                </tr>
                                {% for sign in pass_signs %}
                                    <tr>
                                        <td>{{ sign.date }}</td>
                                        <td colspan="2">{{ sign.info.payment }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            <div id="month-report" class="tab-pane">
                <table id="month-report" class="table table-bordered table-stripped">
                    <tr>
                        <th>Дата</th>
                        <th>01</th>
                        <th>02</th>
                        <th>03</th>
                        <th>04</th>
                        <th>05</th>
                        <th>06</th>
                        <th>07</th>
                        <th>08</th>
                        <th>09</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th>19</th>
                        <th>20</th>
                        <th>21</th>
                        <th>22</th>
                        <th>23</th>
                        <th>24</th>
                        <th>25</th>
                        <th>26</th>
                        <th>27</th>
                        <th>28</th>
                        <th>29</th>
                        <th>30</th>
                        <th>31</th>
                    </tr>
                    <tr>
                        <td>Сампо</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                    </tr>
                    <tr>
                        <td>Абонементы</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                    </tr>
                    <tr>
                        <td>Списано</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                        <td>2100</td>
                    </tr>
                        <td>Нестеров Василий</td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td class="text-success">✓</td>
                        <td class="text-success">✓</td>
                        <td class="text-success">✓</td>
                        <td class="text-success">✓</td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Кудрявцев Михаил</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td class="text-success">✓</td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td class="text-success">✓</td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td class="text-success">✓</td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td></td>
                        <td class="text-success">✓</td>
                        <td></td>
                    </tr>
                </table>
            </div>
      </div>
    </div>
{% endblock %}
