{% extends "base.html" %}
{% block head %}
    <style>
        {% for color_class in passes_color_classes %}
            .{{ color_class.name }} {
                background-color: {{ color_class.val }} !important;
            }
        {% endfor %}

        .alert {
            padding: 8px 35px 8px 14px;
            margin-left: 18px;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            width: 350px;
            position: absolute;
        }

        .red {
            background-color: #f2dede;
            border-color: #eed3d7;
            color: #b94a48;
        }

        .green {
            background-color: #dff0d8;
            border-color: #d6e9c6;
            color: #468847;
        }

        .ib {
            display: inline-block;
        }

    </style>
{% endblock %}
{% block body %}
    {% block content %}

        <div><h4 class="ib">Редактирование профиля</h4>  <div class="alert ib"></div></div>
        <div style="border-bottom: 1px solid #dddddd; margin: 10px 0;" ></div>
        <h5>Личная информация</h5>
        <div class="form-horizontal" style="margin:auto;">
            <div class="control-group">
                <label class="control-label">Имя пользователя</label>
                <div class="controls"><input id="username" type="text" value="{{ user.username }}" required></div>
            </div>
            <div class="control-group">
                <label class="control-label">Фамилия</label>
                <div class="controls"><input id="lastname" type="text" value="{{ user.last_name }}" required></div>
            </div>
            <div class="control-group">
                <label class="control-label">Имя</label>
                <div class="controls"><input id="firstname" type="text" value="{{ user.first_name }}" required></div>
            </div>
            <div class="control-group">
                <label class="control-label">Телефон</label>
                <div class="controls"><input id="phone" type="tel" value="{{ user.phone }}"></div>
            </div>
            <div class="control-group">
                <label class="control-label">E-mail</label>
                <div class="controls"><input id="email" type="email" value="{{ user.email }}"></div>
            </div>
            <div style="border-bottom: 1px solid #dddddd; margin: 10px 0;" ></div>
            <h5>Смена пароля</h5>
            <div class="control-group">
                <label class="control-label">Старый пароль</label>
                <div class="controls"><input id="oldpass" type="password"></div>
            </div>
            <div class="control-group">
                <label class="control-label">Новый пароль</label>
                <div class="controls"><input id="pass" type="password"></div>
            </div>
            <div class="control-group">
                <label class="control-label">Новый пароль повторно</label>
                <div class="controls"><input id="pass1" type="password"></div>
            </div>
            <div class="control-group">
                <label class="control-label">Показать пароль</label>
                <div class="controls"><input id="showPass" type="checkbox"></div>
            </div>
            <button id="save" class="btn" style="float: left">Сохранить профиль</button>
        </div>

        <script type="text/javascript">
            (function() {
                var alert = $('.alert');
                alert.hide();

                alert.show = function() {
                    this.css('display', 'inline-block');
                };

                $.ajaxSetup({
                     beforeSend: function(xhr, settings) {
                         function getCookie(name) {
                             var cookieValue = null;
                             if (document.cookie && document.cookie != '') {
                                 var cookies = document.cookie.split(';');
                                 for (var i = 0; i < cookies.length; i++) {
                                     var cookie = jQuery.trim(cookies[i]);
                                     // Does this cookie string begin with the name we want?
                                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                     break;
                                 }
                             }
                         }
                         return cookieValue;
                         }
                         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                             // Only send the token to relative URLs i.e. locally.
                             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                         }
                     }
                });

                var $fields = $('input:password');

                $('#showPass').click(function() {
                    $(this).prop('checked') ? $fields.attr('type', 'text') : $fields.attr('type', 'password');
                });

                $('#save').click(function() {
                    $.ajax({
                        url: 'save_user_data',
                        method: 'POST',
                        data: {
                            uid: {{ user.id }},
                            username: $('#username').val(),
                            firstname: $('#firstname').val(),
                            lastname: $('#lastname').val(),
                            phone: $('#phone').val(),
                            email: $('#email').val(),
                            pass: $('#pass').val(),
                            old_pass: $('#oldpass').val(),
                            pass_conf: $('#pass1').val()
                        }
                    }).error(function(err) {

                        alert.removeClass('green');
                        alert.addClass('red');
                        alert.text(err.responseText);

                        alert.show();

                        setTimeout(function() {
                            alert.fadeOut(1500);
                        }, 4000);

                        $('#pass').val('');
                        $('#oldpass').val('');
                        $('#pass1').val('');

                    }).done(function(data) {
                        alert.removeClass('red');
                        alert.addClass('green');
                        alert.text('Профиль успешно сохранен');

                        alert.show();

                        setTimeout(function() {
                            alert.fadeOut(700);
                        }, 2500);

                        $('#pass').val('');
                        $('#oldpass').val('');
                        $('#pass1').val('');
                    })
                });
            })()
        </script>

    {% endblock %}
{% endblock %}