.header {
     padding: 5px 0px;
}

.header div {
     display: inline-block;
     margin-right: 10px;
}

.modal-backdrop {
     background-color: inherit;
     opacity: 0.6;
}

#multicard-add-menu {
    left: 305px !important;
    top: 40px !important;
    width: 250px;
}

ul {
     list-style: outside none none;
     margin-left: 0;
     margin-right: 0;
}

li {
     cursor: pointer;
    max-width: 149px;
}

li:hover {
     background-color: #eeeeee;
     cursor: pointer;
}

#multicard-add-menu .groups li a {
     text-decoration: none;
}

#multicard-add-menu .groups li a:hover {
     background-color: #eeeeee;
}

.content {
    padding: 0 10px;
}

.modal div:nth-of-type(2) div {
     display: inline-block;
     padding: 0 10px;
     vertical-align: top;
     /*border-right: 1px solid #dddddd;*/
     height: inherit;
}

.students_lists {
    min-width: 160px;
}

.datepicker {
    margin: 0;
    padding: 0;
    border-right: 0 !important;
}

.datepicker input {
     width: 150px;
}

/*.active {*/
     /*background-color: #eeeeee;*/
/*}*/

.popover .arrow {
    display: none;
}

#multicard-pass-menu {
    width: 950px;
    left: 300px;
}

.striped tr:nth-last-of-type(even) {
    background-color: #f9f9f9;
}

.striped tr:hover {
    background-color: #f5f5f5;
}

.disabled {
    background-color: #cccccc !important;
}

.tmain .disabled:hover {
    background-color: #808080 !important;
}

.write_off {
    display: none;
    cursor: pointer;
}

.in_process_white {
    background-image: url('../img/preloader_mini_white.GIF');
}

.in_process_colored {
    background-image: url('../img/preloader_mini_colored.GIF');
}

#multicard-pass-menu td:hover {
    padding: 0 8px !important;
}

#multicard-pass-menu td {
    padding: 10px 8px;
}

#multicard-pass-menu td:hover .write_off {
    display: block;
}

#multicard-pass-menu .groups {
    width: 40%;
    height: 300px;
}

#multicard-pass-menu .dates {
    width: 40%;
    border-right: 0 !important;
}