.header {
     padding: 5px 0px;
}

.header div {
     display: inline-block;
     margin-right: 10px;
}

.modal-backdrop {
     background-color: inherit;
     opacity: 0.6;
}

#multicard-add-menu {
    top: 10px !important;
}

#multicard-add-menu ul {
     list-style: outside none none;
     margin-left: 0;
     margin-right: 0;
}

#multicard-add-menu li {
     cursor: pointer;
}

#multicard-add-menu li:hover {
     background-color: #eeeeee;
     cursor: pointer;
}

#multicard-add-menu .groups li a {
     text-decoration: none;
}

#multicard-add-menu .groups li a:hover {
     background-color: #eeeeee;
}

.content {
    height: 500px;
    overflow-y: scroll;
}

#multicard-add-menu div:nth-of-type(2) div {
     display: inline-block;
     padding: 0 10px;
     vertical-align: top;
     border-right: 1px solid #dddddd;
     height: inherit;
}

.students_lists {
    min-width: 170px;
}

.datepicker {
    margin: 0;
    padding: 0;
    border-right: 0;
}

.datepicker input {
     width: 150px;
}

.active {
     background-color: #eeeeee;
}