.table {
    border-color: #000000;
}

.table td, .table th {
    cursor: pointer;
    border-color: #000000;
}

.table td {
    line-height: 10px;
}

.form-horizontal{
    margin: 0;
}

.modal-backdrop{
    background-color: inherit;
    opacity: 1;
}

#pass_form_html_body {
    padding: 15px 0 0 0;
}

.highlight {
    position: relative;
}

.highlight:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    content: "";
}

#lesson_content {
    width: 80%;
    margin: 10px 10%;
}

#lesson_content tr th:nth-child(even), #lesson_content tr td:nth-child(even){
    width: 150px;
}

.add-pass {
    margin:1px 0 0;
    background: url(../img/abon_m.gif) no-repeat;
    background-position: center;
    width: 100%;
}

.add-pass:hover {
    background: url(../img/abon.gif) no-repeat;
    background-position: center;
}

.single-lesson strong {
    position: relative;
    top: 7px;
    left: 40%;
}

.single-lesson:hover {
    color: #5ECB31;
}

.modal {
    margin-left: -360px;
}

#pass_menu {
    width: 250px;
    margin-left: 220px;
    padding: 10px 0 0 4px;
}

.popover-content {
    width: 300px;
}

.popover.right .arrow {
    top: 85px;
}

.fio_cell {
    padding-right: 0 !important;
}

.fio_cell .popover.right .arrow {
    top: 50%;
}

#journal {}

.journal-header {
    position: relative;
    top: 10px;
    right: 30px;
    float: right;
}

.btn-group {
    padding:
    0 10px;
}

.info-fio {
    text-align: center !important;
    padding: 2px !important;
}

.header-inp{
    margin-top: 10px !important;
}

.left-header {
    width: 100%;
    height: 30px;
}

#cancel_lesson {
    width: 100px;
}