html, body {
    width: 100%;
    height: 100%;
}

.table {
    border-color: #000000;
}

.table td, .table th {
    cursor: pointer;
    border-color: #000000;
}

.table td {
    line-height: 10px;
}

.form-horizontal{
    margin: 0;
}

.modal-backdrop{
    background-color: inherit;
    opacity: 1;
}

#pass_form_html_body {
    padding: 15px 0 0 0;
}

.highlight {
    position: relative;
}

.highlight:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    content: "";
}

#lesson_container{
    padding: 10px 45px;
    overflow-y: scroll;

}

#lesson_content {
}

.modal.fade.in {
    top: 10px;
}

#lesson_content tr th:nth-child(even), #lesson_content tr td:nth-child(even){
    width: 150px;
}

.add-pass {
    margin:1px 0 0;
    background: url(../img/abon_m.gif) no-repeat;
    background-position: center;
    width: 100%;
}

.add-pass:hover {
    background: url(../img/abon.gif) no-repeat;
    background-position: center;
}

.add-pass-non-hover {
    margin:1px 0 0;
    background: url(../img/abon_m.gif) no-repeat;
    background-position: center;
    width: 100%;
}

.single-lesson strong {
    position: relative;
    top: 7px;
    left: 40%;
}

.single-lesson:hover {
    color: #5ECB31;
}

.modal {
    margin-left: -360px;
}

#pass_menu {
    width: 250px;
    margin-left: 220px;
    padding: 10px 0 0 4px;
}

.popover-content {
    width: 300px;
}

/*.popover.right .arrow {*/
    /*top: 85px;*/
/*}*/

.fio_cell {
    padding-right: 0 !important;
}

.fio_cell span:hover {
    text-decoration: underline #000000;
}

.fio_cell .popover.right .arrow {
    top: 50%;
}

.debt-main {
    margin-left: 10px;
}

.pass_menu-debt-inp {
    width: 60px;
    margin-right: 15px;
}

.debt-main:hover {
    text-decoration: underline lightcoral;
}

#journal {}

.journal-header {
    position: relative;
    top: 10px;
    right: 30px;
    float: right;
}

.btn-group {
    padding:
    0 10px;
}

.info-fio {
    text-align: center !important;
    padding: 2px !important;
}

.header-inp{
    margin-top: 10px !important;
}

.left-header {
    width: 100%;
    height: 30px;
}

#cancel_lesson {
    width: 100px;
}

#block_table {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0.8;
    background-color: #ffffff;
}

#shortCardMenu {
    background-color: #ffffff;
    position: absolute;
    z-index: 999999;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    width: 200px;
}

#shortCardMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#shortCardMenu ul li {
    cursor: pointer;
    margin: 0;
    padding: 3px 0;
    color: #000000;
}

#shortCardMenu ul li:hover {
    color: #ffffff;
    background-color: #0088CC;
}

#shortCardMenu ul .divider {
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    padding: 0;
}

#dateControl {
    width: 100px;
    height: 20px;
    cursor: pointer;
    display: inline;
    margin-right: 5px;
}

#dateControl a {
    color: #000000;
}

.modal-ul {
    padding: 10px 25%;
    width: 100%;
    list-style: none;
}

#freezePassModal .content {
    padding: 10px 20%
}

#freezePassModal .content .datepicker {
    width: 73px;
    margin: 3px;
}

#pass_menu_advanced_content {
    list-style: none;
    width: 200px;
}

.popover-pass_menu-content {
    cursor: pointer;
    margin: 3px 0;
}

.popover-pass_menu-content:hover {
    color: #ffffff;
    background-color: #0088CC;
}

.popover-pass_menu-content-active {
    color: #ffffff;
    background-color: #0088CC;
}

#commentWidget {
    position: absolute;
    top: 15px;
}

#commentWidgetContent {
    overflow-y: scroll;
    height: 450px;
}

.comment-content {
    padding: 5px 15px;
    margin: 5px 0;
}

.comment-content textarea {
    width: 97%;
    height: 100px;
    cursor: default;
    margin-bottom: 0;
}

.comment-content textarea:hover {
    cursor: default;
}

.delete-comment {
    float: right;
    margin-left: 15px;
    padding: 0 3px;
}

.edit-comment {
    float: right;
    margin: 0;
    padding: 0 3px;
}

.comment-date {
    display: inline-block;
}

.comment-buttonsblock {
    display: inline-block;
    width: 377px;
    padding-top: 3px;
}

#saveCommentButtonBlock {
    display: none;
}

.alert {
    padding: 4px 35px 4px 14px;
    margin-left: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 125px;
    position: absolute;
    text-align: center;
}

.red {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.green {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.ib {
    display: inline-block;
}

.pass_menu-debt-inp {
    width: 60px;
    margin: -6px 6px !important;
}

#sub_menu {
    display: inline-block;
    width: 135px;
    position: absolute;
    text-align: center;
}

#sub_menu .dropdown-toggle {
    color: #000000;
}

#sub_menu .dropdown-toggle .caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    margin-top: 4px;
}

#sub_menu .dropdown-menu {

}

#sub_menu .dropdown-menu li {
    text-align: center;
    margin: 2px 0;
    padding: 3px 0;
}

#sub_menu .dropdown-menu li:hover {
    background-color: #0088CC;
    color: #ffffff;
}

.pass_menu-cnt {
    width: 30px;
    margin: 0 3px !important;
    padding: 0 3px !important;
}

/*.canceled {*/
    /*background-color: #979997 !important;*/
/*}*/