
body {
    /*background-color: #F5F5F5;*/
}

.header-right {
    position: relative;
    margin: 10px;
}

.hidden {
    display: none !important;
}

.modal-backdrop {
    background-color: #ffffff !important;
}

.loading2 {
    background-image:  url('../img/preloader2.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.loading2 * {
    display: none !important;
}

.strong {
	font-weight: bold;
}

.region {
    background-color: #fff;
} 
.inline {
    display: inline !important;
}
.nav-header .inline {
    margin-left: 3px;
}
.sidebar-hide {
    text-align: right;
}

.nav-group {
    display: table;
    width: 100% !important;
}

.nav-group-link, .nav-group-profit {
    display: table-cell;
}

.nav-group-profit {
    vertical-align: middle;
    padding-left: 15px;
}
