body, * {
    background-color: #F5F5F5;
}

.header-right {
    position: relative;
    margin: 10px;
}

.hidden {
    display: none !important;
}

.modal-backdrop {
    background-color: #ffffff !important;
}

.loading2 {
    background-image:  url('../img/preloader2.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.loading2 * {
    display: none !important;
}

.strong {
	font-weight: bold;
}

.link-container {
    text-align: center;
}

.border {
    border: 1px solid #e5e5e5;
}

.border * {
    background-color: #fff;
}

.border h4 {
    margin: 0;
    padding: 10px;
}

table tr:hover td, table tr:hover td strong {
    background-color: #e6e4e4;
}

.navbar {
    background-color: #337ab7;
}

.navbar * {
    background-color: inherit;
}

.navbar a {
    color: #fff !important;
}

