h4 {
    text-align: center;
    margin-bottom: 20px;
}

#sampo_passes {
    list-style: none;
    font-size: 15pt;
}

#sampo_passes li {
    margin: 15px 0;
}

.extra_big_font {
    font-size: 25pt;
}

.center {
    text-align: center !important;
}

.inline {
    display: inline !important;
    padding: 0 !important;
}

.bold {
    font-weight: bold;
}

table td .minus {
    float: right;
    width: 14px !important;
    display: inline-block;
    font-size: 40pt;
    text-align: center;
    margin-right: 6px;
    cursor: pointer;
}

table td span {
    display: none;
}

table tr:hover span {
    display: inline-block;
}

.form-horizontal .controls {
    margin-left: 130px !important;
}


.form-horizontal .control-label {
    width: 120px !important;
}

#nav-top {
    margin: 0 !important;
}

#container {
    border-left: 1px solid #e5e5e5;
    /*border-bottom: 1px solid #e5e5e5;*/
    min-height: 800px;
    padding: 20px 10px;
}

#navTab form {
    margin: 5px 0 0 10px !important;
}

.su-nav-tabs > li {
    margin-bottom: -3px !important;
}

.blink1 {
    -webkit-animation: blink1 2s linear infinite;
    animation: blink1 2s linear infinite;
}

@-webkit-keyframes blink1 {
    0% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes blink1 {
    0% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}

.nav-input {
    margin: 2px 0 !important;
}


.nav-tabs > .active > span, .nav-tabs > .active > span:hover, .nav-tabs > .active > span:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}
.nav-tabs > li > span {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.nav-tabs > li > span, .nav-pills > li > span {
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
}
.nav > li > span {
    display: block;
    cursor: pointer;
    color: #0088cc;
}

.nav > li > span:hover,
.nav > li > span:focus {
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #eeeeee #eeeeee #dddddd;
}

.container-fulid {
    width: 98%;
}

#month-report table {
    font-size: 10pt;
}

td.text-success {
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}