h4 {
    text-align: center;
    margin-bottom: 20px;
}

#sampo_passes {
    list-style: none;
    font-size: 15pt;
}

#sampo_passes li {
    margin: 15px 0;
}

.extra_big_font {
    font-size: 25pt;
}

.center {
    text-align: center !important;
}

.inline {
    display: inline !important;
    padding: 0 !important;
}

.bold {
    font-weight: bold;
}

table td .minus {
    float: right;
    width: 14px !important;
    display: inline-block;
    font-size: 40pt;
    text-align: center;
    margin-right: 6px;
    cursor: pointer;
}

table td span {
    display: none;
}

table tr:hover span {
    display: inline-block;
}

.form-horizontal .controls {
    margin-left: 130px !important;
}


.form-horizontal .control-label {
    width: 120px !important;
}

#nav-top {
    margin: 0 !important;
}

#container {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    /*border-bottom: 1px solid #e5e5e5;*/
    min-height: 800px;
    padding: 20px 10px;
}

#navTab form {
    margin: 5px 0 0 10px !important;
}

.su-nav-tabs > li {
    margin-bottom: -3px !important;
}

.blink1 {
    -webkit-animation: blink1 2s linear infinite;
    animation: blink1 2s linear infinite;
}

@-webkit-keyframes blink1 {
    0% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes blink1 {
    0% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}

.nav-input {
    margin: 2px 0 !important;
}
